[2019-11-29 07:27] xiongji commented on #168
I'm afraid i cannot put code here... It's simply like this:
[code]

Await your server...

[2019-11-29 07:53] bobzhuyb commented on #168
Is `self.id_denses` static during the whole training?

[2019-11-29 08:05] xiongji commented on #168
no. It's read from the input samples
[code]
Can I compile your server branch now, If I attempt to implement sparse model support?  Meanwhile, should I use your bytescheduler branch for scheduler if use your own server.

[2019-11-29 08:37] ymjiang commented on #168
@xiongji Sure, you can use the `server` branch right now, the core code is ready and you don't need to change anything in order to run it.

You won't need the `bytescheduler` branch for the scheduler. I know it might be a little bit confusing though..

[2019-11-29 08:43] xiongji commented on #168
OK, I  read through BytePS server source code again.

[2019-11-29 09:12] bobzhuyb commented on #168
Okay, so there are basically two ways:
1. enable BytePS to do allgather (or something equivalent).
2. push and pull the parameters of the huge embedding layer based on the `self.id_denses`

Either way, I believe it can only be done in the C++ core logic for synchronous training. However, if you are doing asynchronous training, the second approach may be done in the Python layer.

[2019-11-29 09:25] xiongji commented on #168
Thanks, i want to do synchronous training.
Do i need push/pull the indices and values of grads separately in the Python layer?

[2019-11-29 09:34] bobzhuyb commented on #168
If you go with the second approach, yes, you need to to that in the Python layer, but ultimately it requires C++ layer implementation.

There is one more ugly way to do this...  but may be the most backward compatible: In addition to BytePS, we also init Horovod. Whenever we see a sparse tensor that needs synchronized, we fallback to Horovod's allgather.

This would require that BytePS can be laun

[2019-11-29 09:40] xiongji commented on #168
Maybe i need C++ layer implementation. Because horovod is used already.

[2019-11-29 10:22] xiongji commented on #168
As we just discussed, it's a pity that I will abort the research of BytePS... We will use horovod instead.

[2019-11-29 11:42] bobzhuyb commented on #168
@xiongji It's totally okay. You should just choose what works the best for you. We are very clear that byteps does not work well for sparse model for now.

[2019-12-01 07:00] nowei commented on #165
Yeah, sorry for the late reply. It takes a while to set up each time and I was a bit busy over the last few days.
Here's the log with NCCL_DEBUG=INFO
[code]
And then I'll make a separate post with the other one since it's pretty long.

[2019-12-01 07:01] nowei commented on #165
Here's the log with both NCCL_DEBUG=INFO and BYTEPS_LOG_LEVEL=TRACE:
[code]

[2019-12-01 07:09] bobzhuyb commented on #165
@nowei Thank you. You are right. INFO does not give anything new. The useful level is DEBUG. However, TRACE would include anything that DEBUG outputs, so what you have is good enough for us. We'll look into this.

[2019-12-01 07:16] bobzhuyb commented on #165
@nowei If you repeat multiple times with TRACE logs, does it always die on the key `1048576`? From the logs you paste, you can see that the last few lines are all about key `1048576`.

[2019-12-01 08:34] nowei commented on #165
I ran it a few more times and they all died on key 1048576.

[2019-12-01 08:40] bobzhuyb commented on #165
Thanks. This is very helpful. So, it's a deterministic bug, probably because of dealing with 4B tensor..

[2019-12-01 08:57] bobzhuyb commented on #165
@nowei Would you do one more favor? Comment out this line and try again.  https://github.com/bytedance/byteps/blob/master/example/pytorch/train_mnist_byteps.py#L109

[2019-12-01 09:21] nowei commented on #165
It ended up training for one epoch and then it crashed again. It ended with something like this:
[code]
Here's the last few lines from the debug info. It seems like it died again on key 1048576.
[code]

[2019-12-01 09:30] bobzhuyb commented on #165
Okay. It dies because of this now https://github.com/bytedance/byteps/blob/master/example/pytorch/train_mnist_byteps.py#L157

It seems that your K80 GPUs have problems dealing with the tensors are are *not* inside the model. I suspect that these tensors are placed on CPU by PyTorch, and K80, as an older GPU, cannot properly map the CPU memory address into GPU memory address space. Consequently, NC

[2019-12-01 09:43] nowei commented on #165
I think test loss is a float at that point because it was a float initially, since I'm getting
`AttributeError: 'float' object has no attribute 'cuda'`
I'll try making it a tensor initially and send it to cuda and see what happens.

[2019-12-01 09:45] bobzhuyb commented on #165
@nowei You are right.. you can do it here https://github.com/bytedance/byteps/blob/master/example/pytorch/train_mnist_byteps.py#L132

[2019-12-01 09:52] nowei commented on #165
It's still dying there:
[code]
I also tried sending the tensor to cuda and it still gets the same error.

[2019-12-01 09:56] nowei commented on #165
Oh, hey, it's training!

[2019-12-01 10:00] bobzhuyb commented on #165
@nowei Thanks. Apparently, Pascal architecture has some improvement over Kelper on the CPU/GPU memory management (https://devblogs.nvidia.com/unified-memory-cuda-beginners/) so this particular problem does not appear in our own environment. We will improve the code robustness.

[2019-12-02 09:17] zwqjoy opened #172 "Does BytePS support tensorflow 2.0 ?"
Does BytePS support tensorflow 2.0 ?
Have any example ?

[2019-12-03 12:07] bobzhuyb commented on #172
Not tested yet. We'll look into this.

[2019-12-06 06:33] ZHAIXINGZHAIYUE commented on #80
你好，我这里还有一个问题。在使用原版mxnet 进行分布式训练的时候，不时的会遇到`Check failed: (my_node_.port) != (-1) bind failed`,  在byteps中，这个问题还存在吗？

[2019-12-07 02:54] ymjiang commented on #80
@ZHAIXINGZHAIYUE I believe you won't have that problem if you configure byteps correctly. We never meet this when using byteps.

[2019-12-10 01:14] eric-haibin-lin opened #173 "undefined symbol during import"
**Describe the bug**
BytePS version: 3ef385ae3b

**To Reproduce**
Steps to reproduce the behavior:
1. See error below

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: Linux
 - GCC version: gcc (Ubuntu 4.9.3-13ubuntu

[2019-12-10 07:41] bobzhuyb commented on #173
Thanks Haibin. For other's reference, MXNet 1.6 breaks the current BytePS build. It'll be fixed by Haibin's PR.

[2019-12-11 22:23] eric-haibin-lin opened #175 "mxnet distributed trainer broadcast leads to corrupted model"
**Describe the bug**
With byteps and mxnet, running model forward and bps.broadcast leads to a corrupted model checkpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. `nvidia-docker run -it --shm-size=32768m haibinlin/worker_mxnet:broadcast-debug bash`
2. `cd bps`
3. `bash bps.sh`
4. After it's done, run `python3 diff.py`

[code]
diff.py compares the checkpoint after bps.broadcast across

[2019-12-12 07:22] bobzhuyb commented on #173
Merged. Thanks for the contribution!

[2019-12-12 07:22] #173 closed

[2019-12-12 08:21] bobzhuyb commented on #175
See this PR https://github.com/bytedance/byteps/pull/176

[2019-12-12 23:52] eric-haibin-lin opened #177 "Error at `byteps.shutdown`"
**Describe the bug**

test.py
[code]

[code]
Error log
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS: Linux
 - GCC version: 4.9
 - CU

[2019-12-13 10:08] #175 closed

[2019-12-16 08:58] laochanlam opened #179 "RDMA slower than TCP"
**Describe the bug**
Hi, I followed the step by step tutorial and try to use BytePS RDMA, but then I found out the performance is even worse than BytePS TCP.

I use two independent clusters to do the RDMA benchmarking (clusterA: m0, m1, m2.  clusterB: m3, m4, m5)  but got the same result. The only things different in hardware is our machines use 2080Ti GPUs.

Our machines use Mellanox ConnectX-5 a

[2019-12-16 09:57] bobzhuyb commented on #179
@laochanlam Can you check your NIC counters -- do they send out or receive a lot of PFCs? Do they get any ECN/CNP? You can use `ethtool -S enp178s0f0  |grep prio`   and `grep "" /sys/class/infiniband/mlx5_0/ports/1/hw_counters/*`  to check those values.

Can you try benchmarking BytePS's ps-lite using the code here https://github.com/bytedance/ps-lite/tree/byteps ? Follow the below instructions

[

[2019-12-16 19:25] laochanlam commented on #179
@bobzhuyb Hi Yibo, thanks for your attention.

Here is the benchmarking result.
[code]

Before benchmarking:
`ethtool -S enp178s0f0 |grep prio`
[code]
After:
[code]

`grep "" /sys/class/infiniband/mlx5_0/ports/1/hw_counters/*`
[code]
After benchmarking
[code]

[2019-12-16 20:59] laochanlam commented on #179
Before running 2to1 scenario

`ethtool -S enp178s0f0 |grep prio`
[code]
`grep "" /sys/class/infiniband/mlx5_0/ports/1/hw_counters/*`
[code]

After
`ethtool -S enp178s0f0 |grep prio`
[code]
`grep "" /sys/class/infiniband/mlx5_0/ports/1/hw_counters/*`
[code]

[2019-12-17 08:23] hbsun2113 opened #180 "Why pull gradients instead of model parameters?"
Hey, I notice that BytesPs runs as following:
[code]
For a classical PS-architecture,  the worker pulls the model parameter instead of gradients. Why BytePs pulls the gradient(Step 5) instead of the model?

[2019-12-19 15:09] ChrisQiqiang opened #183 "Dockerfile cannot work."
Using the docker image built by Dockerfile.Mxnet, cuda error happened as follows:
Stack trace:
  [bt] (0) /usr/local/lib/python3.6/dist-packages/mxnet/libmxnet.so(+0x2e6b160)                                                                                                                                                                                                [0x7ff0cd1bb160]
  [bt] (1) /lib/x

[2019-12-20 01:36] ymjiang commented on #183
@ChrisQiqiang Would you fallback to ba6b63b5f54b39d912463904629a90236b297f81 and try build the docker again? We just updated the nccl version from 2.4.2 to 2.4.8 in the dockerfile (https://github.com/bytedance/byteps/pull/182).

[2019-12-20 14:11] #183 closed

[2019-12-21 04:34] zhongyuchen commented on #180
Workers will update the parameters locally. The only difference is that each worker maintains its own optimizer and do the SGD locally after pulling gradients while in your case the servers maintain a global optimizer and update the parameters.

[2019-12-22 06:41] hbsun2113 commented on #180
I got it, thanks!

[2019-12-22 06:41] #180 closed

[2019-12-27 08:36] blackjack2016 opened #185 "cuda driver version is insufficient for cuda runtime version"
I downloaded docker image, and then ran tensorflow according to step by step tutorial, but found an error.
![image](https://user-images.githubusercontent.com/44971530/71509621-e511b500-28c6-11ea-9fbe-55cc4593a686.png)

[2019-12-27 09:18] zhongyuchen commented on #185
Could you give the results of `nvidia-smi` in your host machine and in the container? And have you run the container with `nvidia-docker`?

[2019-12-27 10:38] ymjiang commented on #185
Your nvidia-docker version might be too old to run cuda 10. Would you update the driver to at least `410.48`?

[2020-01-06 03:36] FalongShen opened #186 "MXNet Allgather"
Will byteps.mxnet support Allgather? it is an important feature for model parallelism

[2020-01-06 07:16] bobzhuyb commented on #186
We may implement it in a few months.

[2020-01-06 10:04] ChaokunChang commented on #177
This error is caused by the using custom.
BytePs used [atexit](https://docs.python.org/3/library/atexit.html) package in BytePSBasics(Wrapper class for the basic BytePS API.). The atexit module defines functions to register and unregister cleanup functions. You can go to byteps/common/__init__.py/ByePSBasics.init() to see the usage.

Therefore, user do not need to call bps.shutdown(). (If user doe

[2020-01-06 22:46] bobzhuyb commented on #179
From `/sys/class/infiniband/mlx5_0/ports/1/hw_counters/local_ack_timeout_err`, it seems that you have lots of timeouts. Also out of sequence from the worker side. I am not really sure how byteps would work with lossy RoCE now.

[2020-01-07 01:18] eric-haibin-lin opened #187 "Suggestions for documentation"
It would be great to improve the documentation for first-time users. Current documentation assumes users know horovod APIs, but for users who just get into distributed training they do not necessarily have that prior knowledge/experience.

I suggest BytePS have a section similar to https://github.com/horovod/horovod#usage introducing the high level APIs (DistributedOptimizer) as well as low level

[2020-01-09 17:48] bengineml opened #188 "Performance slightly lower than horovod"
**Describe the bug**
We've been doing some benchmarking of horovod vs byte-ps on AWS. We were hoping to see some performance improvements from using byteps for 64 GPU jobs. We've noticed that byte-ps has about the same performance for us, perhaps even a few % lower.

**To Reproduce**
Training a [FasterRCNN model from open-mmlab](https://github.com/open-mmlab/mmdetection) on the [open-images datase

[2020-01-09 21:30] bobzhuyb commented on #188
Hello, would you tell us which version of byteps are you using? Are you using the latest master branch / latest docker image or an early version, like v0.1 tag (https://github.com/bytedance/byteps/tree/v0.1) or even earlier? If you are using something earlier, we strongly recommend that you move to the v0.1 or master, because they would had better performance. If you use these recent versions, you

[2020-01-13 07:01] zhongyuchen opened #190 "Mxnet test case failed"
**Describe the bug**

tests/test_mxnet.py

add test `test_byteps_push_pull_inplace`

[code]

[code]

And I will get this error:
[code]

log
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment

[2020-01-13 07:02] zhongyuchen commented on #190
I change that line like this and it seems allright.
[code]

[code]

[2020-01-13 08:35] #190 closed

[2020-01-15 19:20] bobzhuyb commented on #187
We will do a throughout revisit for all the documentation before release 0.2.0. Hopefully 0.2.0 will arrive in Feb.

[2020-01-15 19:27] eric-haibin-lin commented on #177
@bobzhuyb @ymjiang maybe `shutdown` should not be exposed as user facing public APIs?

[2020-01-15 19:37] bobzhuyb commented on #177
@eric-haibin-lin I prefer to make `shutdown` more robust so that the second time it is called has no effects. Just like `init`, which can be called multiple times but in fact it just runs once. We will see whether it's straightforward to do.

[2020-01-15 21:21] eric-haibin-lin commented on #167
I experienced it several times and it was due to truncated json file. The file was not properly flushed at the end of the program. But you can try to manually remove the last incomplete entry in the json file and visualize the rest.

[2020-01-17 01:38] ChaokunChang opened #193 "tests/test_mxnet.py Failed"
**Describe the bug**
I am running the tests/test_mxnet.py in Amazon p2 instance, but the test failed.
The output of "TEST_TYPE=mxnet bash tests/run_byteps_test.sh" is:
`
TEST MXNET ...
BytePS launching worker
[01:33:10] /home/ubuntu/incubator-mxnet/src/base.cc:84: Upgrade advisory: this mxnet has been built against cuDNN lib version 7501, which is older than the oldest version tested by CI (7600).

[2020-01-17 11:12] zhongyuchen opened #194 "mxnet gluon example high CPU usage"
**Describe the bug**

[code]

Training runs on GPU normally. It is werid that as soon as invoking `evaluate`, CPU usage skyrockets to ~87% (the worker has 48 CPUs) and there is no GPU usage. And It takes a long time to execute `evaluate` function, which is too slow. This problem occurs every time.

![image](https://user-images.githubusercontent.com/25879526/72607030-c0a37880-395a-11ea-86c4-9cbe951

[2020-01-17 11:56] ymjiang commented on #194
Thank you for the fix!

This problem looks weird. Does it happen if the train loader also uses `num_worker=0`?

[2020-01-17 16:13] zhongyuchen commented on #194
Thank you for your prompt reply.

When I set `num_worker=0` for the train loader, the same thing happens - high CPU usage and no GPU usage. This is probably a bug of mxnet. Training is also too slow.

![image](https://user-images.githubusercontent.com/25879526/72626955-9f588180-3986-11ea-973d-40c34240232d.png)

[2020-01-17 19:14] bengineml commented on #188
Thanks for the pointers. The numbers in my previous comment were from an older version of `byte-ps`. After upgrading to a more recent version (commit [bb91039](https://github.com/bytedance/byteps/commit/bb91039d043e40aa0281f826b9704ffbba19b973)) and running two servers per `c5n.xlarge`, I'm getting better performance, but still about even with Horovod.

| Setup                  | Seconds / Step |

[2020-01-17 20:10] bobzhuyb commented on #188
@bengineml It seems that across worker communication is not a bottleneck. Have you done any profiling?

We can also do a quick estimation for the communication overhead. Would you tell us the below numbers:
1. the training speed on one single V100, using the same per-GPU batch size
2. the training speed on one p3.16xlarge with 8 V100's, using the same per-GPU batch size
3. the total size of the mo

[2020-01-17 20:26] bobzhuyb commented on #193
Would you set `BYTEPS_ENABLE_GDB=1` and try again? We would recommend that you start with our docker images, so that we can isolate the environment problems like the GCC version.

[2020-01-18 08:46] ChaokunChang commented on #193
Still not OK.

ubuntu@xxxxx:~/byteps/tests$ TEST_TYPE=mxnet bash run_byteps_test.sh
TEST MXNET ...
BytePS launching worker
/bin/sh: 1: gdb: not found
/bin/sh: 1: gdb: not found
/bin/sh: 1: gdb: not found
/bin/sh: 1: gdb: not found
Exception in thread Thread-2:
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()

[2020-01-18 14:08] zhongyuchen commented on #193
@ChaokunChang  I think you should `apt-get install gdb` in your docker first.

[2020-01-18 16:31] ChaokunChang commented on #193
Yes... Thank you for pointing out.
Then the output became :
`
TEST MXNET ...
BytePS launching worker

[1]+  Stopped                 TEST_TYPE=mxnet bash tests/run_byteps_test.sh
`
What should I do next?

[2020-01-19 06:27] zhongyuchen commented on #193
@ChaokunChang  I can pass those tests. Did you start your server and scheduler?
[code]

[2020-01-19 12:17] zhongyuchen commented on #194
@ymjiang  I have reported this bug in https://github.com/apache/incubator-mxnet/issues/17381

[2020-01-20 05:59] whn09 commented on #37
I think it's your network configuration error.
If you are using AWS or other cloud services, you should change the security group inbound rules like this:

![Screen Shot 2020-01-20 at 13 56 35](https://user-images.githubusercontent.com/964527/72702222-d7c9ac80-3b8c-11ea-9bca-d614360b45a6.png)

The port you should open can be seen from the log of server, worker0 and worker1.

You can also open a ra

[2020-01-20 15:57] zhongyuchen opened #196 "Suggestions for dockerfile - seperating dev and prod"
Current dockerfiles are mainly for development, I suppose. Maybe for deployment cases, we can use [`nvidia/cuda:10.0-runtime-ubuntu18.04`](https://hub.docker.com/layers/nvidia/cuda/10.0-runtime-ubuntu18.04/images/sha256-099f29bff03c46491397a17c2caed4f958ec6d66957b91be01e1e0822a536136) as base container, and copy compiled files from development stage by leveraging[ multi-stage builds](https://docs.

[2020-01-20 21:32] laochanlam commented on #179
Hi Yibo @bobzhuyb, thanks for your comment.

Finally we turn on PFC on switch and the problem is solved, thanks!

[2020-01-20 21:32] #179 closed

[2020-01-21 04:32] bobzhuyb commented on #196
Thanks for the suggestion. We'll do it.

[2020-01-21 22:38] eric-haibin-lin opened #198 "Suggestions for dockerfile - version tag"
Shall we specify tags for the docker image, such as `bytepsimage/mxnet:v0.1` for byteps v0.1, and `bytepsimage/mxnet:master` for the master branch under development?

[2020-01-24 01:21] eric-haibin-lin opened #199 "build artifact cleanup"
When I update mxnet version, i need to install bytePS again. However, `pip3 install . --no-cache-dir ` does not really rebuild byteps.
[code]

[2020-01-24 03:07] bobzhuyb commented on #199
You need `python3 setup.py clean`

[2020-01-24 06:35] eric-haibin-lin opened #200 "segmentation fault with mxnet built from source"
[code]

[2020-01-24 06:36] eric-haibin-lin commented on #199
thanks! I'll try that

[2020-01-24 06:36] #199 closed

[2020-01-25 16:22] zhongyuchen commented on #200
It looks more like a bug in mxnet.  I just built latest container and it went well.

[code]

[2020-01-26 01:15] eric-haibin-lin commented on #200
@zhongyuchen were you building mxnet from source?

[2020-01-26 05:06] zhongyuchen commented on #200
@eric-haibin-lin  no. it is installed via pip by default.

[2020-01-26 05:10] eric-haibin-lin commented on #200
Yes, it looks like the issue is with mxnet built from source only

[2020-01-26 07:53] bobzhuyb commented on #200
@eric-haibin-lin Is it possible that it's again related to GCC version?

[2020-01-27 02:50] eric-haibin-lin commented on #200
Both mxnet and byteps are built with gcc 4.9. Should I try another version?

[2020-01-27 18:31] bobzhuyb commented on #200
gcc 4.9 should be fine. Is it possible that your environment has two versions of MXNet and BytePS links to the wrong one? Does the same problem occur to Horovod?

[2020-01-31 15:39] ilmarkov opened #201 "Segmentation fault docker"
**Describe the bug**

Running all instances which are 2 workers, scheduler and server on one node with multiple gpus crashes when one of workers is asked to be run on several gpus.

As a setup I have machine with 8 gpus. I launch all instances in docker container built from Dockerfile.pytorch taken from master branch.

**To Reproduce**

I am using following scripts:
[start_serv.sh](https://gist.gi

[2020-01-31 15:49] ymjiang commented on #201
Does it also happen if you use the official `bytepsimage/pytorch`?

[2020-01-31 16:13] ilmarkov commented on #201
@ymjiang, That image is built with an error. There was a conflict between torchvision and pillow.
So when I run my script it fails with an error:
`ImportError: cannot import name 'PILLOW_VERSION'`
When I built local image from sources I fixed the [line](https://github.com/bytedance/byteps/blob/master/docker/Dockerfile.pytorch#L97) with adding `"pillow<7"`.

[2020-01-31 17:20] bobzhuyb commented on #201
Maybe it's related to this issue. K80 GPUs are a bit old and we don't have proper environment for testing..

https://github.com/bytedance/byteps/issues/165#issuecomment-560082086

[2020-02-03 10:41] ilmarkov commented on #201
@bobzhuyb I tried the proposed solutions with moving tensors to gpu on K80 GPUs and V100 gpus. The result is the same:
[code]

[2020-02-03 19:20] bobzhuyb commented on #201
Are you talking about your first or second scenario?  From the output, I think it's the first scenario (1 worker x 8 GPUs). This error is weird because byteps is merely calling NCCL with `DMLC_NUM_WORKER=1`. Have you also tried PyTorch's DDP or Horovod? Do any of them work properly?

By the way, I found that you mount the same folder into the workers as `/tmp` https://gist.github.com/ilmarkov/6101

[2020-02-03 21:04] ilmarkov commented on #201
I am talking about the first scenario, the one without parameter server. The behaviour in second scenario is a bit different.

I checked horovod NCCL training in docker container. It works well.
Another thing I tried is I used the official image of byteps, ran container, reinstalled pillow and tried to ran train_mnist_byteps.py there. It failed (even with the fix, mentioned the issue you reference

[2020-02-05 11:54] ilmarkov commented on #201
`benchmark_byteps.py` and `benchmark_cross_barrier_byteps.py` work fine in both scenarios.
Also I found out that in order to launch two consecutive benchmarks in second scenario, I need to restart server and scheduler. Is it expected behaviour?

[2020-02-10 12:10] ymjiang commented on #201
@ilmarkov We have fixed the pillow problem in `bytepsimage/pytorch`, but cannot reproduce your segmentation fault -- all pytorch examples run well using that image. Would you pull the latest tag and try again?

Yes, this is expected.

[2020-02-13 09:01] ming9080 opened #205 "Distributed training: Check failed: pb.ParseFromArray(meta_buf, buf_size) failed to parse string into protobuf, buf_size=172"
**Describe the bug**
I have a machine with 4 GPU's and I am trying to run a PyTorch based distributed job on all the GPU's. I instantiate 4 docker instances, which were build according to the tutorials (see the attached scripts).
All the files to reproduce the issues are here:
https://github.com/ming9080/byteps-issue

**To Reproduce**
Steps to reproduce the behavior:
1. ./run_docker_server.sh
2. .

[2020-02-13 09:11] ymjiang commented on #205
You are using stale docker images that are under no maintenance. In your case please use `bytepsimage/pytorch`, as shown in https://github.com/bytedance/byteps/tree/master/docker.

[2020-02-13 09:19] ming9080 commented on #205
This is the exact same docker:
https://github.com/ming9080/byteps-issue/blob/master/Dockerfile

Did you mean for the worker / scheduler / server ?

Thanks,

[2020-02-13 09:21] ymjiang commented on #205
Yes, use that image for all workers/servers/scheduler. Can just follow the tutorial: https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md.

[2020-02-13 11:08] ming9080 commented on #205
Done. Its working now. If I stop one worker, I have to restart everything?
Thanks.

[2020-02-13 12:43] ymjiang commented on #205
Yes, all processes need to be restarted, including workers/servers/scheduler.

[2020-02-16 08:28] blackjack2016 commented on #185
Thank you for your advice. I have solved the problem. I have another question and i wonder if you can help me.
How can I train an original tensorflow job on the base of your docker container?
Because I want to see the difference performance between Byteps and tensorflow, I think i should change&nbsp;synthetic_benchmark.py and delete 'import byteps.tensorflow as bps',but this document still exist m

[2020-02-16 08:37] ymjiang commented on #185
If you want to run original TF, then you should probably refer to this repo: https://github.com/tensorflow/benchmarks. Our docker image does not support that yet.

But there is a fast way for you to compare TF-BytePS with TF-Horovod. You can change `import byteps.tensorflow as bps` to `import horovod.tensorflow as bps`.

[2020-02-16 09:18] blackjack2016 commented on #185
Thank you,this way I've tried before,but horovod doesn't exist in docker ,should i install horovod on my computer?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Yimin Jiang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月16日(星期天) 下午4:37
收件人:&nbsp;"bytedance/byteps"<byteps@noreply.github.com&gt;;
抄送:&nbsp;"914219011"<tyh7020530@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;

[2020-02-16 09:20] ymjiang commented on #185
Maybe you should do `pip3 install horovod` in the docker image.

[2020-02-18 03:05] blackjack2016 commented on #185
Thank you for your advice. I ran the program according to your method and got the following results.

The first picture is run by byteps,others are run by horovod.

I don't know why when I'm running horovod, only one GPU is running, and the other is not used?
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Yimin Jiang"<notifications@github.com&gt;;
发送时间:&nbsp;2020年2月16日(星期天) 下午5:20

[2020-02-18 07:49] ymjiang commented on #185
@blackjack2016 , it seems that your picture is missing.

[2020-02-18 09:05] blackjack2016 commented on #185
I'm sorry for this problem,maybe there is something wrong with my email? Can you see the picture this time? The first picture is running byteps,and others are running horovod,I don't know why only one GPU is working when running horovod while both GPU &nbsp;are working normally by byteps. This time I just download horovod in docker and change 'import byteps.tensorflow as bps' into 'import horovod.

[2020-02-18 10:12] ymjiang commented on #185
@blackjack2016 , I still cannot see the picture. Did you use mpirun to launch Horovod?

[2020-02-18 11:58] blackjack2016 commented on #185
By the way, if I want to understand the project more comprehensively, what other aspects of knowledge do I need to learn? Can you give me some advice?

------------------ 原始邮件 ------------------
发件人: "Yimin Jiang"<notifications@github.com&gt;;
发送时间: 2020年2月18日(星期二) 晚上6:12
收件人: "bytedance/byteps"<byteps@noreply.github.com&gt;;
抄送: "914219011"<tyh7020530@qq.com&gt;; "Mention"<mention@noreply.github.

[2020-02-21 16:52] zinebbe opened #210 "Bounded delay Question"
Hi,
My understanding is that Byteps uses ps-lite as a thirt party library. Is there any way the bounded delay (as described in ps-lite) could be changed using byteps?
Thank you!

[2020-02-22 01:24] ymjiang commented on #210
That is not implemented so far. We now only support synchronous or (fully-)asynchronous training. The former is the default mode. The latter can be enabled by `export BYTEPS_ENABLE_ASYNC=1`.

[2020-02-25 03:36] tanguofu opened #211 "Coredump at ps::Meta::~Meta called in ReleaseFirstMsg"
**Describe the bug**
A clear and concise description of what the bug is.
there is coredump  in work_007 run with gdb -ex=r -ex=bt --args python3 $@

Program received signal SIGABRT, Aborted.
[Switching to Thread 0x7fff7338b700 (LWP 21722)]
0x00007ffff6bf6337 in raise () from /usr/lib64/libc.so.6
#0  0x00007ffff6bf6337 in raise () from /usr/lib64/libc.so.6
#1  0x00007ffff6bf7a28 in abort () from /u

[2020-02-25 04:03] ymjiang commented on #211
This could be probably due to gcc incompatibility between PyTorch and BytePS. Before you install BytePS, please pin gcc to 4.9 ([example](https://github.com/bytedance/byteps/blob/5ce2efe20c1bddcb64660acb2ebc39f148fca893/docker/Dockerfile.pytorch#L51-L80)).

[2020-02-25 04:04] bobzhuyb commented on #211
Which example are you running? Do all PyTorch examples fail?

[2020-02-25 04:10] tanguofu commented on #211
the example is https://github.com/bytedance/byteps/blob/master/example/pytorch/train_imagenet_resnet50_byteps.py

pytorch1.4  need gcc 5.0+,  do you have a  test with pytorch 1.4 ?
and i also test  rebuild pytorch 1.4 with gcc 7.5, but the coredump also came,  i check with valgrind -memcheck and helgrind, only found the error msg, there no other related information with this coredump.

[23:51:31]

[2020-02-25 04:16] ymjiang commented on #211
Did you build pytorch 1.4 from source code using gcc-7.5? If so, you also need gcc-7.5 to build byteps.

[2020-02-25 04:22] tanguofu commented on #211
yes i had tested that  rebuild pytorch , byteps, nccl with gcc7.5 , there is also coredump.
the ps-lite-byteps test_benchmark can worked.

maybe there has some thread conflict in somewhere, but i didnot found in valgrind helgrind report.

[2020-02-26 21:47] bobzhuyb commented on #211
We are investigating the issue with PyTorch 1.4 internally.

[2020-02-28 19:14] bobzhuyb commented on #211
@tanguofu We have identified the problem and fixed it internally. The fix is coming to this public repo very soon.

[2020-02-29 02:10] tanguofu commented on #211
it’s very nice!  many thanks!

[2020-03-01 07:16] ymjiang commented on #211
@tanguofu Please see our fix in https://github.com/bytedance/byteps/pull/212. PyTorch 1.4 runs well with the new dockerfile and setup.py. We will also update the official image  `bytepsimage/pytorch` soon.

If you are eager to try now, you can checkout that commit and do
`docker build -t byteps.pytorch . -f Dockerfile --build-arg FRAMEWORK=pytorch`

[2020-03-01 11:29] tanguofu commented on #211
thanks for very  efficient fix ！  now the example runs normally Although the speed  slow than horovod  , i will post new issue to ask for help .
this coredump confused me for  some days， grateful for you found the problem and fix it。

[2020-03-01 11:34] #211 closed

[2020-03-01 11:48] tanguofu opened #213 "In two 8-GPU nodes，run slowly than horovod 0.19.0, so how to tune params?"
**Describe the bug**
A clear and concise description of what the bug is.

Test with two nodes, byteps run slowly than horovod.  so i think there are some configures than i not set for the most performance.  which  params envs need to finetune to get the fastest images process every sec？

many thanks～

**To Reproduce**
Steps to reproduce the behavior:
**1. hard  devices :**
two node with 8*V100,  1

[2020-03-01 12:36] ymjiang commented on #213
There are several ways to diagnose the performance:
- Tune `BYTEPS_PARTITION_BYTES`, the default value is 4096000. Try to set it higher or lower.
- Does your machines have NVLink? Can you show the output of `nvidia-smi topo -m`?

BTW, Horovod has the best performance when using just two machines, due to hierarchical allreduce. So you should see that BytePS has larger gain over Horovod as you use m

[2020-03-01 21:53] bobzhuyb commented on #213
`nvidia-smi topo -m` output would be very helpful.

How many NICs do you have? Just one 100G port?

With only two machines and no additional CPU machines, BytePS would be equivalent to NCCL tree-based topology.

[2020-03-03 07:48] zhongyuchen opened #214 "Question: Do I need compile with exactly gcc4.9 now?"
I notice a recent update in dockerfile. it seems that gcc4.9 is not a requirement now. Can I use the version as new as 9.2?

[2020-03-03 07:49] bobzhuyb commented on #214
We have not tested 9.2... But we know 7.x should work now. If you find any problems with 9.2, please let us know.

[2020-03-03 07:51] zhongyuchen commented on #214
I see. Thanks for you quick reply!

[2020-03-03 07:51] #214 closed

[2020-03-03 12:42] tanguofu commented on #213
the topo just like dgx-1, with nvlink and only one mellonx nics. i will try nccl ring to see performance.

many thanks.

[2020-03-03 12:42] #213 closed

[2020-03-03 18:38] bobzhuyb commented on #213
1. What is the performance result you got from ps-lite benchmark? We are expecting 85~90Gbps.

2. Did you enable GPU-direct RDMA for Horovod/NCCL? Does your Mellanox NIC share a PCIe switch with any of your GPUs? If your topology is like DGX-1, then the answer is yes. See the architecture figure in https://devblogs.nvidia.com/dgx-1-fastest-deep-learning-system/  Each NIC connects to one PCIe switc

[2020-03-09 02:58] mengkai94 opened #216 "Can not run Distributed Training with RDMA"
**Describe the bug**
I use byteps  according to Distributed Training with RDMA of byteps/docs/step-by-step-tutorial.
I use the latest images : bytepsimage/tensorflow and get error.
But using bytepsimage/tensorflow_rdma and bytepsimage/server_rdma can success.
Using one scheduler, one server, two workers with one respective gpu in a physical worker.

**To Reproduce**
Steps to reproduce the behavior

[2020-03-09 04:11] ymjiang commented on #216
Seems like it hits the limit of memory registration. We will post a fix soon. Before that,  could you please manually change the value of `kReplyDepth` (in byteps/3rdparty/ps-lite/src/rdma_utils.h) to 256 (or even smaller), and then recompile with the following commands?

[code]

[2020-03-09 04:58] mengkai94 commented on #216
It works! thanks you, @ymjiang .
Does the value of  kReplyDepth effect byteps's performance？

[2020-03-09 05:13] bobzhuyb commented on #216
@mengkai94 256 should be enough in most cases.

[2020-03-09 05:14] mengkai94 commented on #216
thanks you.

[2020-03-09 07:04] mengkai94 commented on #216
Using same setting in k8s does not work. Scheduler/server/workers are in same physical machine.
Workers do not start run, but using bytepsimage/tensorflow_rdma and bytepsimage/server_rdma  in k8s can success.
BTW, does byteps need ssh_port same with DMLC_PS_ROOT_PORT?

#Screenshots
scheduler
![image](https://user-images.githubusercontent.com/27659870/76189623-218e5500-6216-11ea-9567-013c3e16b98c.p

[2020-03-09 08:20] bobzhuyb commented on #216
DMLC_PS_ROOT_PORT does not need to be the same as SSH port. Instead, it should be a different port otherwise the it will conflict with ssh. However, you must make sure DMLC_PS_ROOT_PORT can be seen from all containers.

Are you using --net=host with k8s? i.e., all containers share the same host network namespace and can see the RDMA NIC?

[2020-03-09 08:24] bobzhuyb commented on #216
In all containers, can you set DMLC_NODE_HOST to be the IP of your RDMA NIC?

[2020-03-09 11:15] mengkai94 commented on #216
hostNetwork has been used in k8s  equal to --net=host in docker.
I add setting DMLC_NODE_HOST, but does not work.
k8s using 4 physical machines also has same problem.(two woker in two physical machines, one  scheduler and one server in two cpu physical machines)

[2020-03-09 18:02] bobzhuyb commented on #216
We can try a few things --
1. Try starting only one worker (i.e., non-distributed mode). Does the training start normally?
2. Try setting DMLC_ENABLE_RDMA=0. Does the training run normally with TCP?

Thess will help us isolate potential problems.

[2020-03-10 02:22] mengkai94 commented on #216
I try other models, and they can work. Only Resnet50 with RDMA in TF can not run. Resnet50 with TCP in TF is OK.
I find performance of VGG16 is unstable with high variance.(two woker in two physical machines, one scheduler and one server in two cpu physical machines)

[2020-03-10 02:58] bobzhuyb commented on #216
@ymjiang Can you check the TF+ResNet50+RDMA issue? It does not make sense to me.. Maybe ResNet requires a deep queue in RDMA transport?

@mengkai94 Regarding the VGG-16 issue, is it possible that your RDMA network configuration is not correct? Can you use BytePS's ps-lite benchmark to make sure the network works as expected? Follow the commands here https://github.com/bytedance/ps-lite/tree/byteps

[2020-03-10 04:06] ymjiang commented on #216
Looks like ResNet indeed needs large queue depth. `kReplyDepth=256` causes hanging issue when using 1 server + 2 workers.

@mengkai94 You can try one of the following to solve that:
- Use `kReplyDepth=512` if it is still a valid number on your machines;
- Use 2 servers for 2 workers so that the RDMA load will be divided and balanced.

[2020-03-10 04:44] mengkai94 commented on #216
I indeed use 2 servers for 2 workers. but I can only set  kReplyDepth=128 at maximum. so byteps can not run resnet50 in my mechine?
The results of test_benchmark are 89.6Gbps and 81Gbps in two worker with two server.
In pytorch, VGG19 is stable at 164 imgs/sec/gpu，Vgg16 can achieve 178 imgs/sec/gpu at maximum, but 145 imgs/sec/gpu on the average of 10 times.

[2020-03-10 05:51] bobzhuyb commented on #216
@mengkai94 The kReplyDepth limitation is due to that your machine seems to be configured with lower memory registration limit. Would you check this article about how to increase the limit (if you have the root access to configure it)? https://community.mellanox.com/s/article/howto-increase-memory-size-used-by-mellanox-adapters

You can look at the example in that article and set your parameters ac

[2020-03-10 05:54] bobzhuyb commented on #216
@mengkai94 Are you saying that the performance of PyTorch+VGG19+BytePS is stable? If so, the problem is unlikely inside ps-lite or anything below it.

[2020-03-10 06:03] mengkai94 commented on #216
Yes, the performance of PyTorch+VGG19+BytePS is stable.
The performance of PyTorch+VGG16+BytePS:
![image](https://user-images.githubusercontent.com/27659870/76284262-c15fe780-62d7-11ea-8d8d-ccf1fc4f9919.png)

[2020-03-10 11:55] ymjiang commented on #216
@mengkai94 The pytorch result does not look stable, either. Can you check the CPU utilization?

[2020-03-11 00:21] ymjiang commented on #216
@mengkai94 Sorry for my misread. So the case is that VGG19 is stable while VGG16 is not. Can you also check the CPU utilization?

BTW, what if you use just one GPU for each worker?

[2020-03-11 08:13] zhongyuchen opened #217 "pip install error"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**

c5n.xlarge

 - OS: Ubuntu Server 18.04 LTS
 - GCC version: 7.5.0
 - CUD

[2020-03-11 08:24] zhongyuchen commented on #217
It seems that this is because `byteps-0.2.1.tar.gz` does not include `3rdparty/ps-lite`.

[2020-03-11 08:43] ymjiang commented on #217
We will fix this ASAP.

[2020-03-11 09:03] ymjiang commented on #217
@zhongyuchen We have a new pip release just now. Can you please try `pip3 install byteps==0.2.2`?

[2020-03-11 09:32] zhongyuchen commented on #217
it works on a g4dn which has gpu and mxnet but fails on the c5n.xlarge. i wants c5n.xlarge to be a server node.

do i have to install one of tensorflow/mxnet/pytorch in the server node?

i have set the environment variables for the c5n.xlarge including:
[code]

[code]

[2020-03-11 09:51] ymjiang commented on #217
This looks strange to me. If you have set those envs, [these parts](https://github.com/bytedance/byteps/blob/master/setup.py#L858-L903) should be skipped. But you log shows something like the following, which indicates the env does not work..
[code]

Could you please double check whether the envs have been set?

[2020-03-11 13:14] zhongyuchen commented on #217
oh i use `sudo` at that time so it will skip users' envs. thx!

[2020-03-11 13:14] #217 closed

[2020-03-11 16:08] zhongyuchen opened #218 "About dataloader"
since bpslaunch will spwan a thread for each GPU, the actual batch size is N * `bz`. but for each thread,  `gluon.data.DataLoader` still uses the `bz`,  leading to duplication.

https://github.com/bytedance/byteps/blob/4f83db1652d7deb4df4bb7556b99c4e83397d006/example/mxnet/train_gluon_mnist_byteps.py#L65-L71

in the example above, each thread ignores this problem and continue to traverse the whole

[2020-03-11 16:37] zhongyuchen commented on #218
oh i found `mx.io. ImageRecordIter` here is right. good solution.

https://github.com/bytedance/byteps/blob/4f83db1652d7deb4df4bb7556b99c4e83397d006/example/mxnet/common/data_byteps.py#L123-L167

[2020-03-11 16:37] #218 closed

[2020-03-11 16:44] zhongyuchen commented on #218
by the way, i don't think val data need to be partitioned.

https://github.com/bytedance/byteps/blob/4f83db1652d7deb4df4bb7556b99c4e83397d006/example/mxnet/common/data_byteps.py#L152-L167

[2020-03-16 05:37] wizard1203 opened #221 "Could you tell me how multiple servers work and communicate in this framework?"
I need to use multiple servers for PS distributed training. And I am curious of how your codes run if there are multiple servers.
In detail, I would appreciate that if you could tell me,
1. Does a single server store a whole model or a part of model?
2. How workers communicate with multiple servers?
3. How servers communicate with each other if needed?

[2020-03-16 08:04] ymjiang commented on #221
A part of the model.

At initialization, a worker partitions its gradient tensors and allocates them to multiple servers in load-balanced manner. After that, the worker constantly sends the each gradient tensors to the
associated servers in each iteration.

The server processes only communicate with worker processes.

[2020-03-16 09:58] gongjingcs commented on #221
hi, I just wonder in distributed mode, servers do not need communicate with each other for combing grads from all machines?

[2020-03-16 18:26] bobzhuyb commented on #221
Servers do not need to communicate with other servers. They are maintaining different parts of the model, resprctively.

@gongjingcs Why do you think that is needed?

[2020-03-16 21:48] access2rohit opened #222 "BytePS w/ MXNet doesn't work w/o docker container"
**Describe the bug**
If i try to run on bare machine i cannot run the MXNet example: https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md#mxnet

But if I use the container provided then I am able to run the example.

**To Reproduce**
Steps to reproduce the behavior:
1. Ubuntu 16.04 DLAMI EC2 instance p2.8xlarge (8 k80gpus)
2. pip install mxnet-cu100mkl
3. pip install bytep

[2020-03-17 00:25] ymjiang commented on #222
Can you use `pip3 install byteps==0.2.2`? What is the MXNet version number?

[2020-03-17 00:27] access2rohit commented on #222
MXNet 1.6.0 cu100-mkl
python and pip are by default linked to python 3.6

[2020-03-17 00:52] bobzhuyb commented on #222
@access2rohit Can you try byteps==0.2.2? It has better compatibility with various versions of gcc.

You can compare your installation steps with those in the dockerfile

[2020-03-17 01:08] access2rohit commented on #222
with bytePS==0.2.2 I get the following error:
[code]

[2020-03-17 01:18] ymjiang commented on #222
Can you try run with `export LD_PRELOAD=/usr/lib/libtcmalloc_minimal.so.4`? It enables better memory management.

You may need to install it by `apt update && apt-get install libtcmalloc-minimal4`.

[2020-03-17 01:21] access2rohit commented on #222
@ymjiang

I still get the error identical to the first one now:

[code]

[2020-03-17 01:40] vycezhong commented on #222
@access2rohit  can you try to use `pip install -U mxnet-cu100==1.5.0`? it worked when i tested a few days ago.

[2020-03-17 02:09] access2rohit commented on #222
@vycezhong It worked with MXNet-1.5.0. Its strange though that it doesn't work with MXNet-1.5.1 and MXNet-1.6.0 though

[2020-03-17 03:31] vycezhong commented on #222
@access2rohit that's really strange. i have no idea now.

[2020-03-17 03:32] ymjiang commented on #222
We will try to reproduce the problem for MXNet-1.6.0.

[2020-03-17 06:24] ymjiang commented on #222
It seems that MXNet-1.6.0 releases are not stable right now:  https://github.com/apache/incubator-mxnet/issues/17715.

This one works for us: `pip3 install mxnet-cu100==1.6.0b20190817 --pre`

[2020-03-17 12:24] wizard1203 commented on #221
@ymjiang Thank you. Your answers help me a lot.

@gongjingcs @bobzhuyb There are different communication schemes. Every server can receive several models from several workers rather than all workers, and they locally do reduce to get a model and communicate with each other to aggregate all local models.

[2020-03-18 19:13] eric-haibin-lin commented on #222
The list of nightly and stable mxnet pip wheels can be found here: https://dist.mxnet.io/python

[2020-03-19 01:35] vycezhong commented on #222
i found i cannot submit new issues or PR. the button is in gray. what happened?

[2020-03-19 01:49] bobzhuyb commented on #222
I don't think we have changed any configurations. It's off the topic. Let's talk about this offline.

[2020-03-19 01:57] byteps opened #223 "Test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**
 - OS:
 - GCC version:
 - C

[2020-03-19 01:58] #223 closed

[2020-03-19 02:34] gongjingcs opened #224 "Check failed: npending >= 0 (-1 vs. 0)"
[I want to ask for help!]
I use byteps in mxnet for vgg 16 training
I use 2 nodes,node 1 start a server and a worker, the second node starts a scheduler, a server and a worker.
as I know, it is a co-locate mode for byteps. But I get the following error:
F0319 10:24:13.783596  1076 threaded_engine.cc:480] Check failed: npending >= 0 (-1 vs. 0)
*** Check failure stack trace: ***
F0319 10:24:13.82669

[2020-03-19 03:29] bobzhuyb commented on #224
Would you tell us your detailed setup, like MXNet version, gcc version, how you set the environmental variables, etc.?

[2020-03-19 03:52] gongjingcs commented on #224
My MXNet  is 1.5x
environmental variables：

scheduler：launch in node1
export PS_VERBOSE=2
export DMLC_NUM_WORKER=2
export DMLC_ROLE=scheduler
export DMLC_NUM_SERVER=2
export DMLC_PS_ROOT_URI=182.168.42.146  # the scheduler IP
export DMLC_PS_ROOT_PORT=1234  # the scheduler port
python3 /usr/local/byteps/launcher/launch.py

server：launch in node1 and node2
export DMLC_NUM_WORKER=2
export DMLC_ROLE=s

[2020-03-19 04:29] gongjingcs commented on #224
I use byteps/mxnet/ train_imagenet_byteps.py ， default is resnet50 and then I change network to vgg .  Howerver resnet50 worked, vgg16 shows the error above

[2020-03-19 04:33] ymjiang commented on #224
Seems that it is not a problem inside BytePS. Does running on single machine work?

[2020-03-19 07:29] gongjingcs commented on #224
if vgg16 is runing only with mxnet, it's ok, howerver using byteps, single machine also reports the error above

[2020-03-19 08:21] ymjiang commented on #224
@gongjingcs Are you running with the docker `bytepsimage/mxnet`? If not, can you try to reproduce it in the docker?

[2020-03-19 12:52] gongjingcs commented on #224
finally I found if I unset this env : export BYTEPS_PARTITION_BYTES=4096000, vgg16 training works well. Thanks alot for all your response

[2020-03-19 13:10] ymjiang commented on #224
Glad that it worked. But this does not make sense to me. `BYTEPS_PARTITION_BYTES` is set to 4096000 by default, so I don't think setting / unsetting that would make any difference..

[2020-03-20 02:02] gongjingcs commented on #224
thanks I unset export BYTEPS_PARTITION_BYTES=4096000 and  export MXNET_CUDNN_AUTOTUNE_DEFAULT=0 it works. Then I only  unset MXNET_CUDNN_AUTOTUNE_DEFAULT=0 it also works. So we can infer it's env MXNET_CUDNN_AUTOTUNE_DEFAULT=0 make difference .

[2020-03-20 13:26] ilmarkov commented on #201
@ymjiang Sorry for the late response. I tried it again - mnist example still crashes in 2 worker 1 server mode. And it outputs meaningless accuracy in any kind of training. But imagenet and synthetic benchmarks are working fine.

Though, I have problems with distributed training. The same as described in [issue](https://github.com/bytedance/byteps/issues/37).
I have 1 node where 1 server, 1 schedu

[2020-03-20 18:08] bobzhuyb commented on #201
@ilmarkov Are you running on a public cloud or anywhere that may have security rules? BytePS uses different TCP ports from ssh. For example, when you configure the scheduler to run on port `1234`, can you confirm that the port `1234` can be accessed from other machines? You can use `telnet` to test connecting to it.

[2020-03-20 23:20] #224 closed

[2020-03-21 08:26] wizard1203 opened #226 "Does BytePS use asynchronous communication?"
In this document, https://github.com/bytedance/byteps/blob/master/docs/rationale.md, I see you said that "Finally, there are many other benefits of using PS over allreduce. For example, it does not have the synchronization cost when you train on large-scale". So, does BytePS use asynchronous communication?

I guess that communication efficiency of a synchronous PS is worse than allreduce? Because

[2020-03-21 10:19] vycezhong commented on #226
I think the author here means PS architecture supports asynchronous SGD while all-reduce does not. Actually BytePS supports both async & sync training. You can enable async training by specifying 'export BYTEPS_ENABLE_ASYNC=1' for  servers.

[2020-03-21 17:51] bobzhuyb commented on #226
@wizard1203

No. The whole point of rationale.md is to tell you that synchronous PS can be more efficient than all-reduce.

True. However, if you have $n$ parameter servers, the data per server is amortized to just $m$. For all-reduce, each node must send and receive $2n/(n-1) \times m$ data.

[2020-03-21 17:52] bobzhuyb commented on #226
BytePS supports both synchronous and asynchronous modes.

[2020-03-22 03:23] acmore commented on #226
Thanks for open source this nice work!

Regarding the sync & async training, we tested asynchronous training using tensorflow example in the repo. We found that the async training is slower than the sync training on VGG16 and ResNet50. Is this reasonable?

[2020-03-22 13:52] wizard1203 commented on #226
@bobzhuyb
For PS, don't we need to add the communication data of both push and pull together? So even there are $n$ parameter servers, the communication data is $2m$ ?

[2020-03-22 18:58] bobzhuyb commented on #226
Push and pull can be overlapped with tensor partition + a good pipeline because the network is fully duplex.

For all-reduce, every node has to send *and* receive $2(n-1)/n \times m$ data. It also overlaps sending and receiving. It's a fair comparison.

[2020-03-22 19:00] bobzhuyb commented on #226
What do you mean by "training is slower"? If you are talking about model convergence speed, it's expected. If you are talking about system throughput, it's unexpected and we should investigate it.

[2020-03-23 02:04] acmore commented on #226
I mean the system throughput is around 10% slower. My configuration is 1 server 2 workers, and the server is colocated with one worker, the other worker is at another machine.

If it's unexpected, I wonder if there is any documentation about the throughput of async training?

[2020-03-23 03:08] ymjiang commented on #226
@acmore Async training involves extra copy, that is the additional cost compared to the synchronous baseline. If the two workers have very different training speed, you should see significant throughput improvement for the fast worker. Otherwise, you may not see improvement in this tradeoff.

[2020-03-23 04:17] wizard1203 commented on #226
Thank you for your explanation. I wonder if allreduce can make use of the same ideas of BytePSscheduler, i.e., tensor partition and crossing barrier.

And, do the Local Reduce and Local Broadcast increase the communication time? Or because these two operations are performed on a same machine, the operating time of this part is very little? If yes, I guess that more workers on a same machine, more

[2020-03-23 17:30] bobzhuyb commented on #226
Yes.

The local communication adds additional stages in the whole compute-push-pull-compute pipeline. The throughput of a pipeline is determined by the slowest stage. Since the local communication is usually faster than the network communication, it is unlikely to be the slowest stage. Thus, a well-implemented pipeline would not run slower with the local communication.

[2020-03-24 02:54] acmore commented on #226
Thanks for explanation. Other than the extra copy, I guess the async training mode is like async training between workers compared to async training in other common PS architecture. The local rank has to wait for all the ranks in the same worker to allreduce and then update from parameter server. Am I right?

[2020-03-24 03:06] ymjiang commented on #226
No, all ranks in the same worker are synchronous, because they are usually homogeneous. In our design, we allow different workers to have different training throughput (if you overlook the topology inside a worker).

[2020-03-24 07:38] wizard1203 commented on #226
Thank you. Now I understand it much more.

[2020-03-25 05:56] wizard1203 opened #227 "Could I run BytePS without using pipeline and scheduler?"
Hi,
I want to test the performance of vanilla Parameter Server. So I want to run BytePS without using pipeline and scheduler.

I know I can directly turn off the scheduler. But for pipeline, can I directly turn it off, or I need to change codes?

If I need to change codes, is there any difference in the pipeline part implemented in pytorch and tensorflow? Because some frameworks implement pipeline

[2020-03-25 05:59] bobzhuyb commented on #227
You have to do some coding.

Which pipeline are you referring to? The computation-communication pipeline, or push-pull pipeline? The former is in the engine of pytorch and TF, the latter is in BytePS and is agnostic to frameworks.

[2020-03-25 06:03] wizard1203 commented on #227
Thank you. I want to remove all of them. Emm, this may take some time.

[2020-03-25 06:30] bobzhuyb commented on #227
I suggest you not waste time on this, no matter in the sense of developing practical systems or research. I don't see any point reverting back to sub-optimal solutions.

Anyways, I am closing this issue since it's neither a bug or a feature request.

[2020-03-25 06:30] #227 closed

[2020-03-25 06:31] bobzhuyb commented on #226
I believe that we have answered the questions. Closing this.

[2020-03-25 06:31] #226 closed

[2020-03-25 16:30] vycezhong commented on #222
@access2rohit  I do not encounter any problem using mxnet==1.6.0. Is your cuda version right? It should be 10.2 for mxnet==1.6.0. And you should recompile byteps after updating mxnet.

[2020-03-27 04:20] gongjingcs opened #229 "ask for help"
As I know， byteps‘s mode is ’per process per gpu‘ , so a worker normally has multi processes running in muti gpus with a worker. I wonder a worker need gather all grads from ranks with node and then push to server? It also need broadcast to ranks after pulling grads from servers?

[2020-03-27 05:45] ymjiang commented on #229
Yes, your description is true. Did you encounter any specific problem?

[2020-03-27 07:51] zhouxhao commented on #216
When I run run then tensoflow example synthetic_benchmark.py with ResNet50 + RDMA + two servers + two workers， it can not work. But it can work with one server and two workers.
![scheduler](https://user-images.githubusercontent.com/37922263/77733962-c0061d00-7042-11ea-8a42-244cb410c87d.jpg)

[2020-03-27 08:05] gongjingcs commented on #229
I researched various acceleration frameworks including horovod and byteps and others, but I found that the performance of byteps is better than horovod in my benchmark test. Horovod performance is not very good in tcp / rdma environment, so I would like to ask For your benchmark test of horovod, I can provide some of my test data and test environment

[2020-03-27 08:12] ymjiang commented on #229
It is expected that BytePS outperforms Horovod with TCP/RDMA. Are you asking about how to optimize the performance for Horovod?

[2020-03-27 08:13] ymjiang commented on #216
@zhouxhao Have you tried this? https://github.com/bytedance/byteps/issues/216#issuecomment-596891713

[2020-03-27 08:15] gongjingcs commented on #229
On the one hand, I would like to ask whether the current test results of horovod are as expected, on the other hand, I also want to ask how to optimize the performance for Horovod

[2020-03-27 08:17] gongjingcs commented on #229
Because  the performance of horovod and ps-lite I measured are similar, mainly for resnet101 and vgg16, the machine scale is 1 machine 8 gpus to 4 machines 32 gpus

[2020-03-27 08:28] zhouxhao commented on #216
@ymjiang

[2020-03-27 08:47] ymjiang commented on #216
@zhouxhao Can you try to reduce `kRxDepth` only for the scheduler? Do not change it for the workers/servers if they don't run into ibv_reg_mr failed.

[2020-03-27 08:56] ymjiang commented on #229
I suggest you raise an issue for Horovod if you want to tune its performance. It is out of our scope.

I am confused about this. Are you saying that the network throughput of Horovod and ps-lite are similar? If yes, then It makes sense that BytePS has better performance. You can refer to here: https://github.com/bytedance/byteps/blob/master/docs/rationale.md.

[2020-03-27 09:14] gongjingcs commented on #229
Training speed  using horovod is similar to mxnet ps-lite

[2020-03-27 18:05] bobzhuyb commented on #216
@ymjiang Maybe we should make it read from an environmental variable..

[2020-03-27 18:05] vycezhong opened #230 "one weird trick to reduce PULL time significantly"
I happened to read an article about openmp yesterday. https://zhuanlan.zhihu.com/p/118604153

I followed the suggestions in the article and set `OMP_WAIT_POLICY=PASSIVE` for both workers and servers. and the throughput surged around 25%. the profile shows this is because a huge reduction in time taken by PULL operation. so i suppose the flag is beneficial to servers. i guess it eases the contentio

[2020-03-27 18:10] bobzhuyb commented on #229
@gongjingcs So you are talking about three things, Horovod, BytePS, and MXNet native ps-lite. You find that BytePS performance is better than the other two, and Horovod and MXNet native ps-lite have similar performance. Do I understand you correctly?

For questions about how to optimize horovod performance, you should ask the Horovod community. To us, it's totally expected that BytePS performs bet

[2020-03-27 18:16] bobzhuyb commented on #230
Thank you. This is very interesting. OMP should only affect the server performance (and worker's local CPU reduce, which is much less used). We'll study this.

[2020-03-27 18:17] bobzhuyb commented on #230
I suspect this can also help MXNet native PS, which also heavily relies on OpenMP.

[2020-03-27 18:22] bobzhuyb commented on #230
@vycezhong Is the 25% surge you have seen based on your compression PR or non-compression case? I thought our server implementation already achieves 100Gbps summation throughput, so it is it at least faster than the NIC and won't be a bottleneck. Maybe I was wrong..

[2020-03-27 18:27] vycezhong commented on #230
@bobzhuyb It's based on my compression PR but I disabled the compression. It should have no difference with the master. And the task is training imagenet and the model is resnet50_v2.

[2020-03-27 18:30] vycezhong commented on #230
That also holds true in the compression case. PULL time took the majority of time previously whenever enabling compression.

[2020-03-28 03:29] ymjiang commented on #216
Will allow optional value in https://github.com/bytedance/ps-lite/pull/30.

[2020-03-28 09:10] zhouxhao commented on #216
@ymjiang Thanks. It can work now. But I found it go much slower with two servers than one server. How can I find the reason?
![one](https://user-images.githubusercontent.com/37922263/77819605-02992980-7117-11ea-8195-55458b06aa73.jpg)
![two](https://user-images.githubusercontent.com/37922263/77819606-062cb080-7117-11ea-9560-cee7dabbf4f0.jpg)
![servers](https://user-images.githubusercontent.com/3792

[2020-03-28 10:32] ymjiang commented on #216
@zhouxhao Can you run the ps-lite benchmark to see whether the problem is in networking? You can follow the tutorial here: https://github.com/bytedance/ps-lite/tree/byteps#1-basic-benchmark

[2020-03-28 20:52] yuxwhkbu opened #231 "install error:error: An ERROR occured while running the Makefile for the ps-lite library. Exit code: 2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone --recursive https://github.com/bytedance/byteps
cd byteps
python3 setup.py install
2.See error in make.log

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your

[2020-03-29 02:06] ymjiang commented on #231
Does this work for you?
`apt install build-essential libc6-dev`

[2020-03-31 09:41] gongjingcs commented on #229
Yes，BytePS performance is better than Horovod and MXNet native ps-lite.  Horovod and MXNet native ps-lite have similar performance.

[2020-03-31 10:17] bobzhuyb commented on #230
@ymjiang Can you reproduce?

@vycezhong ResNet-50 performance has always been close to linear speed up in our environment. I can't understand how we may get 25% faster. Maybe it's due to some CPU scheduling issue in VMs (are you using VMs)?

[2020-03-31 10:29] ymjiang commented on #230
It is unlikely that we will get 25% improvement on ResNet50 since it is very close to optimal. @vycezhong Can you provide a reproducible tutorial using any of our public example?

[2020-03-31 10:32] vycezhong commented on #230
@bobzhuyb. I did not use VM or docker. It run natively in ubuntu18.04. I will check whether it achieves linear scaling in my settings. If not, there maybe some problems I haven't noticed.

[2020-03-31 10:59] vycezhong commented on #230
@ymjiang  i use the script form gluoncv and make some changes to adapt to byteps.
https://github.com/vycezhong/byteps/blob/gradient_compression/example/mxnet/train_gluon_imagenet_byteps_gc.py

### HW settings:
- Workers: 4 x p3.16xlarge
- Servers: 4 x c5n.xlarge

### HYPER-PARAMS:
- Batch size: 64 per GPU (follow byteps)
- Momentum = 0.9
- Other hyper-params follow default settings of gluoncv

###

[2020-04-01 17:16] vycezhong commented on #230
One p3.16xlarge can achieve ~2800img/s locally. So 4 x p3.16xlarge should be at the speed of ~11200img/s. Even 8478img/s only achieves 75.7% scaling efficiency. It is impossible... Am i doing  something wrong?

___

### reproducible local training

script: https://gluon-cv.mxnet.io/_downloads/6ecf3a8b8036c8af2c65a18f473f1acb/train_imagenet.py

command
[code]

[2020-04-01 17:21] vycezhong commented on #230
Maybe it is attributed to the reason you mentioned here [doc](https://github.com/bytedance/byteps/blob/master/docs/best-practice.md#with-additional-cpu-servers).  i should launch more servers to saturate 25Gbps network. But I am a bit worried that the cpu may not be enough. i will do it.

[2020-04-01 17:22] bobzhuyb commented on #230
Thanks for the results. It's reasonable. We said ~100% scaling efficiency, but that was on machines with 100Gbps RDMA network (similar to p3dn.24xlarge). p3.16xlarge only has 25Gbps traditional network. Also, BytePS's TCP implementation was most inherited from MXNet native PS, which also needs some optimization.

It's still an interesting observation. Maybe we should suggest users use this env set

[2020-04-01 17:32] vycezhong commented on #230
Thanks for your explanation and correction for my mistake! @bobzhuyb  we are happy that gradient compression does have some suitable scenarios. 😃

[2020-04-01 19:32] yuxwhkbu commented on #231
It is fixed now, thankyou!!

[2020-04-01 19:43] yuxwhkbu opened #233 "The benchmark hang"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I successfully followed the step-by-step tutorial to benchmark on a single worker. When I go on for a distributed training, the servers hang. ( I can't use nvidia docker on this machine)  The command I use is listed as follows. Note that whether I set the server and scheduler on the same machine, the trainin

[2020-04-02 00:28] bobzhuyb commented on #233
After you start the scheduler, can you run the following command and tell us the output?
`netstat -ant|grep 9000`
`telnet 10.1.82.20 9000`

[2020-04-02 00:29] #231 closed

[2020-04-02 07:25] yuxwhkbu commented on #233
![image](https://user-images.githubusercontent.com/45350678/78221534-203f0800-74f6-11ea-9e79-301c0cec41ae.png)
Sir, the outcome looks like this

[2020-04-02 08:03] yuxwhkbu commented on #233
![](https://user-images.githubusercontent.com/45350678/78221534-203f0800-74f6-11ea-9e79-301c0cec41ae.png)
Sir, the outcome looks like this

[2020-04-02 10:47] ymjiang commented on #230
@vycezhong Our benchmarks on 100Gbps RDMA showed negligible improvement. Perhaps you can try launch more servers simultaneously.

[2020-04-02 11:03] vycezhong commented on #230
@ymjiang thanks for your results. I will try it soon.

[2020-04-02 20:25] bobzhuyb commented on #233
Thank you. Your network looks fine. Would you set `PS_VERBOSE=2`, run again and tell us the log?

BTW, are you using the latest docker image, or using pip install, or compiling from source to install byteps?

[2020-04-08 17:51] eric-haibin-lin commented on #222
I find that with byteps 0.2,
https://repo.mxnet.io/dist/python/cu100/mxnet_cu100-1.6.0b20200212-py2.py3-none-manylinux1_x86_64.whl works but

https://repo.mxnet.io/dist/python/cu100/mxnet_cu100-1.6.0b20200215-py2.py3-none-manylinux1_x86_64.whl leads to segfault.

It's probably a regression in mxnet

[2020-04-09 13:03] vycezhong commented on #230
@bobzhuyb @ymjiang
We conduct an experiment and keep the same settings mentioned above. We don’t start measuring until the speed stabilized because speed is unstable at the beginning of training. The speed is lower than the one before. We speculate that it is because new machines are launched for this experiment, leading to different network topology.  Anyway, there are some findings.

The first t

[2020-04-12 18:19] azuresol opened #237 "Much slower than Horovod on TCP"
**Describe the bug**
I benchmarked BytePS and Horovod's performance using this [script](https://gist.github.com/azuresol/b7e4b332392d95578804dc34e9eaf78f) using 8VM * 8 V100 on TCP. It turned out that the performance I got from BytePS is much lower than Horovod. I wonder if this is expected?

Horovod:
[code]

BytePS:
[code]

I also ran BytePS on a single worker setting (without server and schedule

[2020-04-13 00:41] ymjiang commented on #237
Your benchmark code sends tensors one by one. Once BytePS saws a new tensor, it requires expensive initialization of that tensor buffer. So your performance is expected. We recommend  using this [benchmark](https://github.com/bytedance/byteps/blob/master/example/tensorflow/synthetic_benchmark.py) to compare the performance.

Here are some other tuning tips, which should be helpful for TCP: https:/

[2020-04-13 01:20] bobzhuyb commented on #237
@azuresol As @ymjiang said, for each tensor, when you send for the first time, BytePS would need additional time for initializing it on both the worker side and server side. Horovod does not need this because all-reduce is stateless (while PS is stateful). However, this is just for the first round.

In addition to what @ymjiang suggests, you may also refactor your code to push_pull the same tensor

[2020-04-13 02:13] azuresol commented on #237
Thanks, I will try again with the refactored benchmark. Does BytePS need expensive initialization even without servers? I assumed it was equivalent to plain NCCL operations.

[2020-04-13 03:03] azuresol commented on #237
A quick update: so I [added](https://gist.github.com/azuresol/b7e4b332392d95578804dc34e9eaf78f) a round of `session.run()` before measuring the actual execution. The performance number of BytePS improved, but is still lower than Horovod. Any ideas?

[code]

[2020-04-13 03:42] bobzhuyb commented on #237
@azuresol Can you increase the number of server processes? You can keep using those 4 server VMs, but starting more server processes on each VM.

For TCP, a single connection cannot saturate the 100Gbps bandwidth. NCCL establishes multiple rings to overcome that. Correspondingly, You need more server instances for BytePS.

Anyways, it does not make too much sense running TCP on 100Gbps networks, t

[2020-04-13 04:06] azuresol commented on #237
Hi @bobzhuyb, agree that RDMA could offer better performance, but it is still interesting to find out why BytePS underperforms on TCP -- IIUC, given the same bus bandwidth (even if capped by TCP at a BW smaller than 100Gbps), the theoretical algorithm bandwidth of BytePS should be twice as NCCL's.

If I remember correctly, each NCCL ring opens multiple threads and TCP connections. Does BytePS do t

[2020-04-13 04:21] azuresol commented on #237
I used 16 servers and 4 workers. It turns out that with more servers BytePS still underperforms :(
[code]
@ymjiang: `OMP_WAIT_POLICY=PASSIVE` trick does not work for me either.

[2020-04-13 04:56] bobzhuyb commented on #237
@azuresol Your results show that more servers lead to slower throughput? It does not make sense to me.. Can you share your latest code?

Between a pair of worker/server, there is only on TCP connection. Even with more servers, there still exists bottlenecks at the ZeroMQ, which BytePS inherits from the original ps-lite. ZeroMQ has serious throughput problem (see https://github.com/zeromq/libzmq/is

[2020-04-13 05:04] azuresol commented on #237
To be precise, I used 4 server VMs and increased the number of server processes by repeating the hosts in `server-hostfile`. My benchmark [code](https://gist.github.com/azuresol/b7e4b332392d95578804dc34e9eaf78f) is pretty much same as before. For completeness, here is the command I run:
[code]

[2020-04-13 20:49] yuxwhkbu commented on #233
Thank you, it was the ip problem and it is fixed.

[2020-04-13 20:53] yuxwhkbu opened #238 "The tensorflow support of Byteps releases"
I think the latest version does not support tensorflow1.14.0/1.15.0 with bugs when running the synthetic benchmarks(correctly compiled). Could you please tell me the last commits that support tensorflow 1.15.0?

[2020-04-13 21:19] yuxwhkbu commented on #238
Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading CUDA: part or all of the requested memory range is already mapped
The bug is this.

[2020-04-13 22:43] bobzhuyb commented on #237
@azuresol I kind of understand the problem you have with more servers. Can you set `BYTEPS_PARTITION_BYTES=1024000`, or maybe 512000? This should significantly improve the performance of 16 servers case. The default value 4096000 is good for 100G RDMA, but not for your case.

That said, even with this, I am afraid that ZeroMQ would still limit the BytePS throughput to no more than a single thread

[2020-04-14 00:45] bobzhuyb commented on #233
@yuxwhkbu Thank you for reporting.

[2020-04-14 00:45] #233 closed

[2020-04-14 00:46] bobzhuyb commented on #238
What is the latest version you are referring to? We use TF 1.15 all the time... and we recently added support for TF 2.x https://github.com/bytedance/byteps/pull/219

[2020-04-14 00:58] ymjiang commented on #238
@yuxwhkbu The latest master should work with TF 1.15, or you can use `pip3 install byteps==0.2.2`. If you still have compilation errors, you can show us the error logs.

[2020-04-14 04:32] azuresol commented on #237
Setting `BYTEPS_PARTITION_BYTES=1024000` did improve the performance of 16 servers. However, `512000` led to worse results.. What's the rationale of tuning `BYTEPS_PARTITION_BYTES`?
[code]
It is true that the performance gap still exists, let alone the theoretical 2x improvements. What's the best approach to confirm that ZeroMQ is the bottleneck?

[2020-04-14 05:42] bobzhuyb commented on #237
BYTEPS_PARTITION_BYTES defines how byteps partition large tensors. Smaller partition sizes give you better push/pull pipelining, but also hurt the network stack performance..

If you really want to see the performance improvement on GCP, you can use VMs with 25Gbps or even 10Gbps network. You can also use `iftop` to confirm that BytePS indeed saves bandwidth compared with all-reduce.

If your targ

[2020-04-14 06:27] dawnleave opened #240 "Is there a plan to support allgather for Tensorflow 2.x?"
Thanks

[2020-04-14 09:38] ymjiang commented on #240
We are currently working on it, and will propose a PR in a few weeks.

[2020-04-14 18:19] zhenglin03 opened #241 "benchmark with cross barrier is much slower than that without cross barrier"
**Describe the bug**
I benchmarked the performance of BytePS with cross barrier using the script in /example/pytorch/benchmark_cross_barrier_byteps.py. The throughput in the case of resnet50-32bs with cross barrier (220+ img/sec) is much lower than that without cross barrier (280+ img/sec) which using the script in /example/pytorch/benchmark_byteps.py. The experiments are both on 2 servers and 2 w

[2020-04-15 01:08] ymjiang commented on #241
This is not expected. Although ResNet-50 is not communication-intensive, crossing the barrier should at least provide equal performance compared to the baseline. Can you paste the complete commands for reproduction?

Hi @pengyanghua , can you please take a look?

[2020-04-15 03:54] zhenglin03 commented on #241
@ymjiang My commands are as follows:

For the scheduler:

docker run -it --net=host --device /dev/infiniband/rdma_cm --device /dev/infiniband/issm0 --device /dev/infiniband/ucm0 --device /dev/infiniband/umad0 --device /dev/infiniband/uverbs0 --cap-add IPC_LOCK bytepsimage/pytorch bash
export DMLC_ENABLE_RDMA=1
export DMLC_NUM_WORKER=2
export DMLC_ROLE=scheduler
export DMLC_NUM_SERVER=2
export DMLC

[2020-04-16 10:06] pengyanghua commented on #241
@zhenglin03 You may try tuning the credits and tensor partition size by setting BYTEPS_SCHEDULING_CREDIT and BYTEPS_PARTITION_BYTES.

[2020-04-20 04:34] zhenglin03 commented on #241
Is there a recommended value for the parameter？

[2020-04-20 05:25] pengyanghua commented on #241
@zhenglin03 The best parameters depend on your hardware and training model. Typically if the partition size and credit size are larger, the bandwidth utilization will be higher but the performance gain of preemptive scheduling will be lower. Setting BYTEPS_SCHEDULING_CREDIT to 1 is not recommended as network bandwidth is not fully utilized. You can try a larger value, e.g., 2-4.

[2020-04-20 05:56] bobzhuyb commented on #241
@zhenglin03 By default, BytePS disables scheduling because users may or may not use the cross-barrier version. If users don't use the cross-barrier version, there is no point enabling scheduling.

However, since you are explicitly testing the cross-barrier version, you can try setting `BYTEPS_SCHEDULING_CREDIT` as pengyanghua suggests to enable scheduling.

[2020-04-20 06:12] ymjiang commented on #222
@access2rohit @eric-haibin-lin We will fix the problem with MXNet-MKL in https://github.com/bytedance/byteps/pull/244.

[2020-04-21 01:56] eric-haibin-lin commented on #222
The mxnet community passed a vote to turn on mkldnn by default for future releases. I do not think #244 will help then

[2020-04-26 04:36] zhenglin03 commented on #241
@pengyanghua I set BYTEPS_SCHEDULING_CREDIT to 4, but the results did not improve. And I set BYTEPS_PARTITION_BYTES to 1m, 2m and 4m, the results even got a bit worse. Could you provide the performance comparison with and without cross barrier  in the case of training ResNet50 on 2 V100 workers and 2 servers, please?

[2020-04-27 03:14] pengyanghua commented on #241
@zhenglin03 Do you mean that the training speed is same as the baseline after setting BYTEPS_SCHEDULING_CREDIT to 4? So far we have not tested the scheduling feature in byteps completely and we do not have the performance data in your case.

The performance gain depends on how much we can overlap gradient communication with backward and forward computation. You can profile the time of the computat

[2020-04-27 15:21] wuchangping opened #246 "LARS support in bytePS"
LARS is a very useful feature, could bytePS support it?

[2020-04-27 16:03] vycezhong commented on #246
byteps serves as a communication framework to exchange gradients, independent of any optimization algorithm. How to optimize the network is the responsibility of the deep learning framework you use, not byteps's. Of course, you can implement LARS in MXNet/TF/PyTorch, and use byteps to aggregate gradients.

[2020-04-28 00:25] ymjiang commented on #246
As @vycezhong said, LARS is not a communication feature, and should be implemented by the computation frameworks instead.

[2020-04-28 03:09] vycezhong opened #247 "incorrect pushpull results for temporary CPU tensor"
test code
[code]
the first pushpull gave correct results, but the second failed. some workers even crashed.
[code]

Maybe these lines in the stack trace give some useful information.
[code]
___

There are two ways to avoid this for now.
1. use GPU tensor. fixed in PR https://github.com/bytedance/byteps/pull/215
2. declare a new tensor everytime.

I also tested Horovod and fount it worked well in t

[2020-04-28 03:20] vycezhong commented on #247
i found the second results `[0.04908739 0.04247315]` multiplied with `bps.size()` (64) are just equal to `[3.1415923 2.7182817]`... that's weird because i have set `is_average=False` and divide `bps.size()` manually. how could it be scaled twice?

[2020-04-28 03:51] vycezhong commented on #247
[code]

I use random tensors and test again. it also shows that the second results are scaled twice.
[code]

it could not run more rounds because some workers crashed in the second round....

[2020-04-28 04:14] bobzhuyb commented on #247
I think the problem is that you are passing in different tensors (the tmp in two rounds are in fact different ndarray instances) with the same name. I believe that I can fix this shortly.

[2020-04-28 04:55] vycezhong commented on #247
Exactly. This is indeed the case where different tensors with the same name are passed in. e.g. type conversion to fp16 returns a new tensor.

[2020-04-28 05:00] bobzhuyb commented on #247
Can you try this? https://github.com/bytedance/byteps/pull/248  This only happens when you push pull CPU tensors. By the way, the implementation of handling CPU tensor in BytePS is quite inefficient, because it uses NCCL to do local reduce/brodcast, which (I believe) would send the CPU tensor to GPU. Don't heavily rely on this..

[2020-04-28 05:11] bobzhuyb commented on #247
I think it still has some problems.. Let me check again.

[2020-04-28 05:30] vycezhong commented on #247
It seems to work. @bobzhuyb

[2020-04-28 05:55] bobzhuyb commented on #247
@vycezhong Can you test again and confirm it's still working with my newer commit? I know I fixed your problem in the last commit, but it actually introduced another problem. Now it should be more robust.

[2020-04-28 08:18] bhetherman opened #249 "Unable to load tensorflow plugin for bytescheduler"
I can build TF 1.13.2 from source with the patch. However when I try to run the tf_cnn_benchmarks.py I get a error when tf.load_library('libplugin.so') is called.

[libprotobuf ERROR external/protobuf_archive/src/google/protobuf/descriptor_database.cc:58] File already exists in database: tensorflow/core/kernels/boosted_trees/boosted_trees.proto
[libprotobuf FATAL external/protobuf_archive/src/goog

[2020-04-28 09:05] zhenglin03 commented on #241
@pengyanghua I mean the training speed is lower than the baseline after setting BYTEPS_SCHEDULING_CREDIT to 4 in my case. It is the same as my first experiment results.

By the way, I read the code recently and find out that the 'priority' passed to EnqueueTensor function in pytorch is seem not to be set if I use bps.DistributedOptimizer directly to do communication in training, right? There is by

[2020-04-28 10:10] #246 closed

[2020-04-29 03:29] azuresol commented on #237
Hi @bobzhuyb: What is the typical throughput number for the `test_benchmark` test in 100Gbps (or your typical setup) RDMA and TCP networks? Just wanted to help me understand how to interpret my own result. Thanks.

[2020-04-29 04:05] bobzhuyb commented on #237
@azuresol If you have 100G RDMA network, `test_benchmark` should get you >85Gbps application throughput. For TCP, it should be similar to your `iperf` single connection performance.

We do have something coming very soon. https://github.com/bytedance/ps-lite/pull/31  Hopefully, we can get better performance with TCP. Stay tuned..

[2020-04-30 16:54] wizard1203 opened #251 "Can a server and a worker run on a same machine?"
Can a server and a worker run on a same machine?

[2020-05-01 01:15] ymjiang commented on #251
Yes. You can refer to this: https://github.com/bytedance/byteps/blob/master/docs/best-practice.md#no-additional-cpu-servers.

[2020-05-01 01:15] ymjiang commented on #249
Hi @pengyanghua , can you take a look?

[2020-05-01 03:33] pengyanghua commented on #249
@bhetherman Can you import tensorflow and run tf_cnn_benchmarks.py without the libplugin.so plugin? There seems to be a similar problem in https://github.com/tensorflow/tensorflow/issues/33746 .

[2020-05-01 03:54] pengyanghua commented on #241
@zhenglin03 Thanks very much for figuring out the bug. It is supposed to be set in https://github.com/bytedance/byteps/blob/master/byteps/torch/cross_barrier.py#L153, otherwise there is no priority scheduling benefit. You may refer to https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/pytorch/horovod.py#L59 for priority implementation. We will fix this problem.

[2020-05-01 23:15] bhetherman commented on #249
@pengyanghua  the script runs fine without trying to import libplugin.so. Heres the output in case that helps.

[tf_cnn_benchmarks_output.txt](https://github.com/bytedance/byteps/files/4566588/tf_cnn_benchmarks_output.txt)

[2020-05-02 04:24] pengyanghua commented on #249
@bhetherman Which versions of protobuf and tf-cnn-benchmark do you use? could you paste all the output here when running the plugin?

[2020-05-04 17:47] bhetherman commented on #249
pip show protobuf gives 3.11.3
protoc --version gives 3.11.4

So that could be the problem. As for tf-cnn-benchmark Im using the version in bytescheduler/tensorflow/benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py. And all the output when I load the libplugin is in the OP. There is only those few lines.

[2020-05-04 20:05] bhetherman commented on #249
I updated the pip package to 3.11.4, that did not fix the problem. I still get the same output from the tf_cnn_benchmark script

[2020-05-05 03:14] pengyanghua commented on #249
@bhetherman  For tf_cnn_benchmarks.py, are you using the version https://github.com/tensorflow/benchmarks/tree/cnn_tf_v1.13_compatible and did you apply the patch?

[2020-05-18 18:47] bhetherman commented on #249
@pengyanghua sorry for the delay. Other things came up at work. I made sure to use the tf1.13 compatible version and apply the patch. Results in the same output/error:

# python tf_cnn_benchmarks.py
[libprotobuf ERROR external/protobuf_archive/src/google/protobuf/descriptor_database.cc:58] File already exists in database: tensorflow/core/kernels/boosted_trees/boosted_trees.proto
[libprotobuf FATAL

[2020-05-19 12:08] pengyanghua commented on #249
@bhetherman It seems that the root cause is the protobuf version. You may try installing protobuf with a lower version, e.g., v3.7.0.

[2020-05-20 07:42] bhetherman commented on #249
I tried protobuf 3.7.0 and 3.6.1, and got the same error. No additional help unfortunately. I also tried installing protobuf using pip and from source

[2020-05-21 05:19] pengyanghua commented on #249
@bhetherman Would you try the solution here https://stackoverflow.com/questions/37051635/several-shared-object-using-same-proto-leading-the-the-error-file-already-exist ? Compile the protobuf into libprotobuf.a instead of libprotobuf.so.

[2020-05-21 05:23] #241 closed

[2020-05-21 05:24] #103 closed

[2020-05-21 05:24] #104 closed

[2020-05-21 05:24] #101 closed

[2020-05-21 05:25] #98 closed

[2020-05-26 21:04] bhetherman commented on #249
I'm not sure what parameters to give the configure/make files for protobuf to build the '.a' version, any idea?

[2020-05-29 12:51] pengyanghua commented on #249
@bhetherman We plan to provide a Dockerfile for ByteScheduler tensorflow, stay tuned.

[2020-05-29 14:58] bhetherman commented on #249
@pengyanghua  oh awesome! That will be great! Thank you for all the help

[2020-06-12 06:48] jasonliu747 commented on #61
It's been almost an year sine this issue opened. Just wondering is there any progress or plan on running BytePS on Kubernetes?
Looking forward to your reply, @ymjiang @bobzhuyb

[2020-06-12 16:40] bookug opened #257 "Does byteps support GNN training?"
Does byteps support GNN training? Or graph computing?

[2020-06-12 17:29] bobzhuyb commented on #257
You can use it for synchronizing GNN model parameters. However, for graph sampling you will need extra logic.

[2020-06-12 23:05] dawnleave commented on #240
Thanks! Looking forward to it!

[2020-06-15 14:15] wizard1203 opened #258 "Adding more servers causes push and pull time increasing."
Adding more servers causes push and pull time increasing, I am confused why this happens.
Theoretically, more servers make communication fast, but the experiment results show it does not.
Is there some reason?

[2020-06-15 18:54] bobzhuyb commented on #258
Can you tell us your detailed setup?

What you describe is certainly possible, e.g., adding a slow server (slower than other servers in terms of CPU or bandwidth) may slow down everything because of the nature of synchronized data parallel training.

[2020-06-16 02:31] jasonliu747 opened #259 "Run BytePS on Kubernetes"
It's been almost an year sine issue #61 submitted. Just wondering is there any progress or plan on running BytePS on Kubernetes?
Looking forward to your reply, @ymjiang @bobzhuyb

[2020-06-16 03:06] jasonliu747 commented on #259
Relates issue: https://github.com/volcano-sh/volcano/issues/866

[2020-06-16 08:32] wizard1203 commented on #258
Every machine has same performance.

Might the reason be that:
all workers push and pull the first part of the model to and from the first server at the same time, then the second part to and from the second server...... This would make the bandwidth utilization of many servers similar with it of only one server.

[2020-06-16 08:41] bobzhuyb commented on #258
@wizard1203 No, all the network transmissions are asynchronous, meaning that a worker can push to the second server before the push to the first server finishes.

If you don't tell us more details about your configuration, we can't help you..

[2020-06-16 08:42] bobzhuyb commented on #258
We have run it with 128 worker + 128 server and it worked just fine.

[2020-06-18 06:54] wizard1203 commented on #258
I run experiments with 1-4 workers and 1-4 servers, using 10Gb/s TCP network and 100 Gb/s RDMA network. and every worker and server has 4 GPUs, CPU and other configurations of workers are same with servers.

[2020-06-18 07:11] wizard1203 commented on #258
I run experiments on 1-4 workers and 1-4 servers, with 10Gp/s TCP network and 100Gp/s RDMA network. Only workers train the model, servers do not.

And each worker or server have 4 GPUs, the CPU and other configuration of them are the same.

And, I changed the code of torch/__init__.py, instead of asynchronously doing push_and_pull and backward of every tensor, I make it do push_and_pull after the

[2020-06-18 07:14] bobzhuyb commented on #258
If you want to leverage four servers, you should let BytePS have at least four partitions of tensors so that it can load balance the partitions onto different servers. I am not sure why you want to increase the partition size in the first place.

[2020-06-18 07:30] wizard1203 commented on #258
OHHHH,  I thought it will do more partition on the partitioned tensor to make load balance...... So I can make the BYTEPS_PARTITION_BYTES just equal to 1/4 of model size to make it balanced. Because I want to measure how the transmitting speed of push and pull influenced by the number of servers. Thank you, you are so kind~~

[2020-06-26 07:05] jasonliu747 commented on #259
Got it working anyway, though not an elegant way. 🤣

[2020-06-26 07:05] #259 closed

[2020-07-03 04:25] viig99 commented on #134
Hi @jazka , I am getting similar issue from the bonding interface, could you highlight what exact config did you use ? do we have to remove the bonding interface ?

[2020-07-09 08:29] jasonliu747 opened #264 "Scheduler should terminate when the job is done"
Not sure it's a feature or a bug. :rofl:
Unlike MXNet training, scheduler of BytePS will keep running even though workers have completed.

[2020-07-09 09:19] gaocegege opened #265 "[question or feature request] Auto-Tune Partition Size"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Thanks for the awesome work. The paper mentions that:

I know that BytePS and ByteScheduler shares a similar idea (e.g. partitioning) but ado

[2020-07-09 15:23] gaocegege opened #266 "[question] When to Use BYTEPS_REDUCE_ROOTS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Hi, I found that BYTEPS_REDUCE_ROOTS is an environment variable. when it is set, we will use reduce and bcast instead reducescatter and allga

[2020-07-11 04:27] wangli1426 opened #267 "PyTorch distributed training hangs on broadcast_parameters()"
**Describe the bug**
I am trying to run PyTorch distributed training on 2 GPU nodes, following the guidance on https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md#distributed-training-tcp.  However, both workers hang on `bps.broadcast_parameters(model.state_dict(), root_rank=0)`.

**To Reproduce**
1. Start scheduler on node1.
[code]
I saw the following logs:
[code]
2. Sta

[2020-07-11 07:28] bobzhuyb commented on #267
It seems to me that neither the server or workers can connect to your scheduler. After you start the scheduler and server, can you run `netstat -ant |grep 12345` and check whether the server is connected to the scheduler?

Also, can you set `PS_VERBOSE=2` and update the logs you see?

[2020-07-11 11:22] wangli1426 commented on #267
@bobzhuyb Thanks for the prompt rely.

Following your suggestion, I checked the TCP connection with `netstat` command and I found the connection between the server and the scheduler had been established.:
[code]

Also, by setting ``PS_VERBOSE=2``, the scheduler printed more logs, which indicated that the workers and the server were connected properly?
[code]

Any suggestion?

[2020-07-12 05:01] bobzhuyb commented on #267
Can you try `BYTEPS_LOG_LEVEL=TRACE`?

[2020-07-12 07:24] wangli1426 commented on #267
@bobzhuyb
I set `BYTEPS_LOG_LEVEL=TRACE` and see the following logs. I did see any error on my side. I attach the logs for your reference. Thank you.

logs on the scheduler
[code]

logs on the server
[code]

logs on worker 0
[code]

logs on worker 1
[code]

[2020-07-12 07:41] bobzhuyb commented on #267
You are stuck in the NCCL stage within each machine before reaching the multi-machine communication stage.  Can you first verify whether single worker (with multiple GPUs) can work?

If you search `Queue REDUCE addTask` in your logs, how many can you see from different ranks?

[2020-07-12 07:43] bobzhuyb commented on #266
Yes, in some cases `BYTEPS_REDUCE_ROOTS` can give you better performance. It depends on your internal PCIe topology. If you paste the output of `nvidia-smi topo -m`, I may be able to tell you whether you should set it.

[2020-07-12 07:44] bobzhuyb commented on #265
This is low priority on our list for now.

[2020-07-12 07:45] bobzhuyb commented on #264
@ymjiang Can you check?

[2020-07-12 07:55] wangli1426 commented on #267
Hi @bobzhuyb

Thank you once again for your prompt response.

I just verified single worker training using exactly the same commands as provided in https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md#pytorch. The single node training run normally on both of the two workers.

I also search `Queue REDUCE addTask` in the logs.
on worker 0:
[code]
on worker 1:
[code]

[2020-07-12 08:07] ymjiang commented on #264
@jasonliu747 Which BytePS version are you using? In v0.2.4 there should be no such issue.

[2020-07-12 08:16] bobzhuyb commented on #267
Normally you should see four `Queue REDUCE addTask`. When you run it with a single worker, you can find four `Queue REDUCE addTask`, right?   Can you grep `rank=3` and let me see the log?

Also, can you set `DMLC_PS_ROOT_URI` to be an explicit IP on the scheduler, instead of `0.0.0.0`?

[2020-07-12 09:51] wangli1426 commented on #267
Thanks for you suggestion.

I have now managed to run the benchmark after I made the following changes:
1. For the scheduler, I set `DMLC_PS_ROOT_URI` to the actual IP of the node;
2. For each of the node, I edited the `/etc/hosts` file and changed the IP of the hostname from `127.0.0.1` to the actual IP.

The problem can only be solved when I make the two changes at the same time. I tried to laun

[2020-07-12 10:36] gaocegege commented on #265
Gotcha, do we have a roadmap for 2020 2H or 2021? I'd appreciate if we can show it in the README.

[2020-07-12 10:39] gaocegege commented on #266
Thanks for your reply.

Can you please explain more about it or do we have doc for the feature? I am just looking through the code base of BytePS and see if we can integrate it better on Kubernetes.

[2020-07-12 18:44] bobzhuyb commented on #267
Okay, so it seems to be the network connection issue at last..

[2020-07-12 18:45] #267 closed

[2020-07-12 18:48] bobzhuyb commented on #266
There is a paper pending publication. It has more detailed explanation.

A quick rule is --
IF your NIC is not sharing a PCIe switch with any of the GPUs, you should not set `BYTEPS_REDUCE_ROOTS` and keep using `reducescatter` and `allgather`.

However, IF your NIC is sharing a PCIe switch with some GPUs, you should set `BYTEPS_REDUCE_ROOTS` to be GPUs that are on **_other_** PCIe switches so that

[2020-07-12 18:49] #258 closed

[2020-07-12 18:50] #251 closed

[2020-07-12 18:50] #247 closed

[2020-07-12 18:51] bobzhuyb commented on #238
Closing due to inactivity.

[2020-07-12 18:51] #238 closed

[2020-07-12 18:51] #229 closed

[2020-07-12 18:52] bobzhuyb commented on #216
Closing due to inactivity.

[2020-07-12 18:52] #216 closed

[2020-07-12 18:52] #221 closed

[2020-07-12 18:53] bobzhuyb commented on #222
This is fixed as @ymjiang mentioned.

[2020-07-12 18:53] #222 closed

[2020-07-13 01:17] gaocegege commented on #266
Thanks.

[2020-07-13 01:17] #266 closed

[2020-07-14 02:26] jasonliu747 commented on #264
@ymjiang Just checked, I'm using v0.2.4.
![image](https://user-images.githubusercontent.com/24452340/87373480-53e10200-c5bc-11ea-9bb7-cbc7791c9b9a.png)
![image](https://user-images.githubusercontent.com/24452340/87373519-665b3b80-c5bc-11ea-841b-999d611507a9.png)

[2020-07-14 02:49] ymjiang commented on #264
@jasonliu747 Are you using TCP or RDMA? Can you paste the complete commands and output logs for reproducing the problem?

[2020-07-14 03:31] jasonliu747 commented on #264
Sample YAML:
[code]

Scheduler Log:
[code]

Server Log:
[code]

Worker Log:
[code]

Task Status:
[code]

[2020-07-14 03:41] ymjiang commented on #264
BytePS will not launch a ps-lite instance for the worker if num_worker=1. So in your case, the server and the scheduler will always wait for the signal from workers. You can either set `BYTEPS_FORCE_DISTRIBUTED=1` to force the worker to launch ps-lite, or use more than 1 worker.

[2020-07-14 03:47] jasonliu747 commented on #264
Unfortunately, it's till not working after using 2 workers.
[code]

[code]

[code]

[code]

[2020-07-14 04:02] ymjiang commented on #264
I see the problem. Your worker command is `bpslaunch echo Hello World` so it does not invoke the core logic in BytePS worker... It needs to be something like `bpslaunch python3 train.py`. Our [tutorial](https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md) gives some examples.

[2020-07-14 05:41] jasonliu747 commented on #264
You were right, got it working. Thanks.
Also wondering in what scenario will invoke the core logic?

[2020-07-14 05:52] ymjiang commented on #264
In short, it is triggered by the framework plugins in the python code. For example, when you do `bps.init()`, it invokes the cpp api to initialize the necessary things for later use. If interested, you can go through the pytorch example (https://github.com/bytedance/byteps/blob/master/example/pytorch/benchmark_byteps.py) and check the usage of `bps`.

[2020-07-14 06:59] jasonliu747 commented on #264
Okay, thanks!

[2020-07-14 06:59] #264 closed

[2020-07-15 04:29] YuejiYang opened #269 "pull is not overlapped with computation"
**Describe the bug**
I profiled the pytorch example using resnet50. But the profiling results are somehow not as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. One machine for server and scheduler
2.two machines for two workers,  each with 4 gpus

**Expected behavior**
There should be overlap between forward and ncclAllGather execution.

**Screenshots**
I profiled one worker. The

[2020-07-15 04:32] bobzhuyb commented on #269
Which example are you running? By default, BytePS does not overlap the communication with forward computation. Instead, you must use this https://github.com/bytedance/byteps/blob/master/byteps/torch/cross_barrier.py

[2020-07-15 04:34] YuejiYang commented on #269
Thanks for your instant reply! I used this one, benchmark_byteps.py.
I'll try the cross_barrier.by one.

[2020-07-15 06:36] YuejiYang commented on #269
@bobzhuyb
hi yibo,
I changed to this script: https://github.com/bytedance/byteps/blob/master/example/pytorch/benchmark_cross_barrier_byteps.py

Here is the result:
![image](https://user-images.githubusercontent.com/15076664/87511268-9df2e200-c6a7-11ea-8fa2-3ae23c308358.png)

From the figure, the kernel execution (backward, gradient update or nccl operations) between two layers are not overlapped.

[2020-07-17 01:18] YuejiYang commented on #269
Hi,
I also found another problem in the above figure. I could not explain it. For the grey region (which should be the backward phase) after forwardProp, the GPU ultilization is quite low (the figure is sparse). There seems a lot of communications interrupting gradient computation.

It is strange that after a while, the grey region becomes dense again meaning the computation is dense and well over

[2020-07-18 04:28] vycezhong opened #270 "server crashed at the beginning"
@vycezhong  I ran this PR with our mxnet vgg-16 test to check for regression. I used 2 worker nodes, each node has 8 GPUs, and 2 server nodes. One of the server nodes will core dump, it happens consistently.  Is this something you've seen before? I didn't change the test to use gradient compression, so https://github.com/dmlc/ps-lite/pull/168 shouldn't matter here.

[code]

_Originally posted by @

[2020-07-18 04:29] #270 closed

[2020-07-18 04:29] vycezhong commented on #270
why is it created in the original repo? just ignore it....

[2020-07-18 07:05] idoh opened #271 "[Asynchronous] Why is asynchronous training slower than synchronous?"
After the BytePS benchmark I found that asynchronous training was slower than synchronous training:
https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md

The asynchronous training was around 144 images/sec and the synchronous training was around 176 images/sec. In both cases, I followed the instructions in the distributed section.

**Setup**
I used an 8 x RTX 2080ti server

[2020-07-18 08:25] ymjiang commented on #271
Can you share your detailed setup? For example, how many workers & servers do you use?

One reason I can think of is that the asynchronous design of BytePS involves extra memory copy before sending out the tensors, while the synchronous implementation does not have such copy. If the speed of all workers are similar and the network is pretty fast, the copy overhead might dominates. So you won't see

[2020-07-18 09:38] idoh commented on #271
Thanks for the explanation and fast response.
I'm using a single machine with 2 workers, 1 parameter server and 1 scheduler on it. I know that training it locally would be better but I wanted to try the distributed setup before launching on real servers. I'm using the BytePS ResNet-50 benchmark script: `byteps/example/pytorch/benchmark_byteps.py`. I trained both synchronous and asynchronous in thi

[2020-07-18 12:33] vycezhong opened #272 "bps.push_pull give wrong result for pytorch"
When I train mnist with pytorch, I found the output accuracy and loss are werid. Then I tried to print it out before push_pull.

![Screen Shot 2020-07-18 at 8 24 08 PM](https://user-images.githubusercontent.com/25879526/87852520-381b8a00-c935-11ea-9293-c1f0df956a50.png)

So I guess this is because `push_pull` gives wrong results for CPU tensors.
https://github.com/bytedance/byteps/blob/cf020c97fc7

[2020-07-18 13:25] ymjiang commented on #271
See the memory copy operation in pytorch: https://github.com/bytedance/byteps/blob/master/byteps/torch/__init__.py#L191.

As I said, you may expect to see the asynchronous advantages when using a real distributed setup, where the workers have distinct training speed.

[2020-07-20 07:36] vycezhong opened #273 "potential race condition in server"
I suspect that SUM_RECV may suffer from race condition. There may be more than one threads writing to the same `updates.merged.tensor` simultaneously.

https://github.com/bytedance/byteps/blob/cf020c97fc718ca209cbadbfac4cffa5e49d7d21/byteps/server/server.cc#L130-L152

https://github.com/bytedance/byteps/blob/cf020c97fc718ca209cbadbfac4cffa5e49d7d21/byteps/server/server.cc#L254

[2020-07-20 11:50] wizard1203 opened #274 "Hi, questions about the BROADCAST time and REDUCE time."
Hi,
I'm curious about why the REDUCE time is different with BROADCAST time.
![微信图片_20200720194020](https://user-images.githubusercontent.com/22996426/87934198-2bc43800-cac1-11ea-9a55-1090fea16637.png)

And, the BROADCAST time of each partition is different with others.
![微信图片_20200720194223](https://user-images.githubusercontent.com/22996426/87934201-2cf56500-cac1-11ea-93a2-315917d0f92b.png)

Coul

[2020-07-21 04:57] ChrisQiqiang opened #275 "cannot execute without docker (on host machines)"
**Describe the bug**
A clear and concise description of what the bug is.
Try to do distributed training on each host machine, but failed.

**To Reproduce**
Steps to reproduce the behavior:
1. do what the tutorial does on each machine
2. one scheduler. two servers, and two workers.
3.
4. See error

**Expected behavior**
I have installed BytePS on two host machines and try to do DNN training without

[2020-07-21 07:06] bobzhuyb commented on #272
We also found that push pull on CPU tensor may lead to instability. We will check and fix it.

[2020-07-21 07:08] bobzhuyb commented on #273
I don't get your point.. For a specific key, there is only one thread dealing with it, right?  cc @ymjiang

[2020-07-21 07:11] bobzhuyb commented on #275
I am confused. The latest code (https://github.com/bytedance/ps-lite/blob/byteps/src/van.cc) does not even have protobuf (I removed it a while ago).

Are you doing a completely clean installation?

[2020-07-21 07:19] bobzhuyb commented on #274
The profiling results may include queuing time. Each bar is the time from enqueuing (not actually starting) to finishing in BytePS pipeline engine.

If you want the most precise time for just REDUCE and BROADCAST, I recommend to use nvprof and check those nccl* times.

[2020-07-21 07:23] vycezhong commented on #273
Oh you are right. `GetThreadID` will return the same tid for the same key. Thanks for your explanation.

[2020-07-21 07:23] #273 closed

[2020-07-21 07:32] ChrisQiqiang commented on #275
yep, I am confused too. I read the source code and do not discover anything about ParseFromArray in Line 465.
On ec2 deep learning base ami, pip3 install mxnet-cu100==1.5.0 firstly, add lib path and run 'python3 setup.py install'.
The steps are very clear .... I'll try with mxnet-cu102 ==1.6.0 later.

[2020-07-21 07:47] vycezhong commented on #275
I am also using AMI. mxnet-cu100==1.5.0 can work without any bug. I think you should clean your build and install again.

```python setup.py clean --all install```

[2020-07-21 07:51] #230 closed

[2020-07-21 08:19] ChrisQiqiang commented on #275
With mxnet-cu100==1.5.0, Mxnet cannot be imported in the root, while setup.py execution needs root's permission, thus I execute some Cuda setting commands before.
With mxnet-cu102==1.6.0, it can be avoided. Meanwhile, I run **sudo python3 setup.py clean --all install**.
So I am not sure what causes this exactly. Anyhow, it works, thanks a lot.

[2020-07-21 08:19] #275 closed

[2020-07-21 09:05] vycezhong commented on #275
Although you have closed it, I am still confused why you use `sudo`. If you are using system's python, you can add `---user` to the tail of your install command to install locally. And since you are using AMI, I recommend you use prepared conda environment.

[2020-07-21 09:14] ChrisQiqiang commented on #275
You are right. I try to install directly without sudo, but warns `donot has permission in /usr/lib/....`, so I  use `sudo`, my habit is not abundant and bad maybe.
I use the conda environment at the very beginning. But failed, so I wanna a pure environment on the base AMI. I will try this later.
Thanks very much for your advice.

[2020-07-29 03:18] jasonliu747 opened #278 "Different memory consumption among GPUs"
**Describe the bug**
When running a training, either on single or multiple nodes, the memory of first GPU card will always be consumed more than others. Looks like it only happened after upgrading BytePS version to v0.2.4.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/24452340/88752517-b7f2f100-d18c-11ea-8729-4dd610249

[2020-07-30 01:39] ymjiang commented on #278
I am not sure why PID 35529-35546 also uses memory on GPU0. Is your `train_imagenet_byteps.py` identical with this [example](https://github.com/bytedance/byteps/blob/master/example/mxnet/train_imagenet_byteps.py)?

If it means v0.2.3 has no such issue, it looks weird. Because c16efff5 and 9e3b46d3c do not seem to be relevant to this problem..

[2020-07-30 02:43] jasonliu747 commented on #278
Yes, it's totally identical.

I'm not sure which version caused this issue. The last version I used before v0.2.4 was v0.2.0. :rofl: And I just double checked, there is indeed no such issue in v0.2.0.
![image](https://user-images.githubusercontent.com/24452340/88874323-62cce300-d251-11ea-9430-6aa230818811.png)

[2020-07-30 04:03] vycezhong commented on #278
Are u sure? I have been experiencing this problem since I started using byteps.

[2020-07-30 07:56] jasonliu747 opened #279 "Server crashed due to free(): invalid pointer"
**Describe the bug**
Servers would crash during cleanup. And looks like it's trying to free something that isn't a pointer.
[code]
**Detailed server log**
[code]

**Detailed scheduler log**
[code]

**Expected behavior**
Server could exit without errors.

[2020-07-30 08:03] bobzhuyb commented on #279
Let me make sure: all the actual training has finished, and the server crashes during cleaning up. Right?

@ymjiang The error seems to be this
[code]

[2020-07-30 08:06] jasonliu747 commented on #279
@bobzhuyb You feel me! :wink:

[2020-07-30 08:38] ymjiang commented on #279
Hello @jasonliu747 , would you mind testing this PR? https://github.com/bytedance/byteps/pull/280

Thank you very much.

[2020-07-30 08:53] jasonliu747 commented on #279
@ymjiang Yup, I was trying to make a PR, will create one when everything works fine.

[2020-07-30 10:19] vycezhong commented on #278
It happens when training IMAGENET. Interestingly, my script using `mxnet.gluon` also suffers this.

[2020-07-30 10:46] ymjiang commented on #278
Yes, I can reproduce this with v0.2.4 on MXNet.. But PyTorch and TF examples are fine. So I think the problem is in the MXNet example code. We should investigate this.

[2020-07-31 02:52] #279 closed

[2020-08-03 12:17] DeruiLiu opened #281 "some question about setup.py"
Hi， when I use python setup.py install, it make an error:
wget https://raw.githubusercontent.com/mli/deps/master/build/zeromq-4.1.4.tar.gz && tar --no-same-owner -zxf zeromq-4.1.4.tar.gz
--2020-08-03 20:23:10--  https://raw.githubusercontent.com/mli/deps/master/build/zeromq-4.1.4.tar.gz
ERROR: cannot verify raw.githubusercontent.com's certificate, issued by ***
Unable to locally verify the issuer'

[2020-08-03 12:34] vycezhong commented on #281
I think you should add it here. https://github.com/bytedance/ps-lite/blob/2f40b17737/make/deps.mk

[2020-08-04 01:45] DeruiLiu commented on #281
yeah！I fixed it， thank you。

[2020-08-04 01:45] #281 closed

[2020-08-04 08:17] DeruiLiu opened #282 "some question about to start server. Check failed: mr ibv_reg_mr failed: Cannot allocate memory"
I want to 1 worker and 1 server, but when I use the following command to start server, I have some error, can anyone meet the same error?

export BYTEPS_LOG_LEVEL=INFO
export BYTEPS_ENABLE_IPC=1
export DMLC_ENABLE_RDMA=1
export DMLC_NUM_WORKER=2
export DMLC_ROLE=server
export DMLC_NUM_SERVER=1

export DMLC_INTERFACE=ens6f1
export DMLC_PS_ROOT_URI=172.168.30.25
export DMLC_PS_ROOT_PORT=9000

bpslau

[2020-08-04 08:32] ymjiang commented on #282
Similar issue: https://github.com/bytedance/byteps/issues/216.

We have fixed this (https://github.com/bytedance/ps-lite/pull/30) but it is not merged into master yet. For now you can update the 3rdparty/ps-lite submodule, recompile ps-lite and BytePS, and then try to reduce `BYTEPS_RDMA_RX_DEPTH` (default 2048) to a smaller value (256 for example).

[2020-08-04 09:52] weiminggao opened #284 "Sync Batch Normalization?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-04 10:03] ymjiang commented on #284
Sorry, it is not supported yet. We may look into this in the future.

[2020-08-04 10:03] ymjiang commented on #172
Closing since TF 2.0 is already supported.

[2020-08-04 10:03] #172 closed

[2020-08-04 10:06] bobzhuyb commented on #284
@weiminggao I believe that you can use push_pull to implement global syncBN if you don't mind writing a little code.

[2020-08-04 10:13] weiminggao commented on #284
Can you describe more detail? How to use push_pull to implement global syncBN?
I use the tf.layers.BatchNormalzation() api.

[2020-08-04 10:16] weiminggao commented on #284
I find syncBN need to exchange the all moving_mean and moving_var , and then compute the real moving_mean and moving_var.
![image](https://user-images.githubusercontent.com/42035017/89282795-a3c45d80-d67e-11ea-8be2-4f6171850968.png)

[2020-08-04 12:20] DeruiLiu commented on #282
yeah, But when I have 2 machines, one machine as 1 server and 1 worker, another machine as 1 worker and 1 schedule。
and i set BYTEPS_RDMA_RX_DEPTH = 128， I also get the error
Check failed: mr ibv_reg_mr failed: Cannot allocate memory, i=914, kMempoolChunkSize=56。

maybe i cannot run it this way? but i think in theroy i can do this.

[2020-08-04 17:18] bobzhuyb commented on #284
In distributed training, \sigma can be implemented by Horovod's all-reduce or BytePS's push_pull  (these two are equivalent in synchronized data parallel)

[2020-08-05 01:55] DeruiLiu commented on #282
I follow it and update my ps-lite, but i also get the error in schedule.
src/./rdma_transport.h:130: Check failed: mr ibv_reg_mr failed: Cannot allocate memory, i=914, kMempoolChunkSize=56
my start code is as below:
**one machine:**
1.schedule
export BYTEPS_LOG_LEVEL=INFO
export BYTEPS_ENABLE_IPC=1
export DMLC_ENABLE_RDMA=1
export DMLC_NUM_WORKER=2
export DMLC_ROLE=scheduler
export DMLC_NUM_SERVER

[2020-08-05 03:47] ymjiang commented on #282
Can you double check? In [7e4800feb](https://github.com/bytedance/ps-lite/tree/7e4800febf9f3203c41f7451f191361270a11b7d), line 130 is not the associated line as shown in your log...
https://github.com/bytedance/ps-lite/blob/7e4800febf9f3203c41f7451f191361270a11b7d/src/rdma_transport.h#L130

[2020-08-05 08:15] DeruiLiu commented on #282
sorry to bother again， i check it, and i get a similiar error. the error is as below:
[16:19:51] src/./rdma_transport.h:144: Check failed: mr ibv_reg_mr failed: Cannot allocate memory
You can try to reduce BYTEPS_RDMA_START_DEPTH (default 128) or BYTEPS_RDMA_RX_DEPTH (default 2048)

i set kRxDepth=256 of rdma_transport.h.

[2020-08-05 08:41] ymjiang commented on #282
Can you show the output of `ulimit -l` on your machine?

[2020-08-05 09:18] DeruiLiu commented on #282
yeah, thank you! now i solved it, maybe i need  the correct sequence of worker and server to start.
I start in the following order and the problem solved,
1worker->1server->1worker->1server->1secheduler.
but the performance is not as good as expected. The performance of distribute is far lower than single training. and the performance is not stable. the output is as below:
**first exercise**
Iter

[2020-08-06 00:09] ymjiang commented on #282
There might be some resource contention that causes the unstable performance. Is there any other process running on your machines? And can you check the CPU utilization?

[2020-08-06 01:55] DeruiLiu commented on #282
there are no any other process running on my machine, but the cpu utilization is also unstable. Have you ever had a problem like this?
and i find when cpu utilization is high, the performance is better. and when i start, the max cpu utilization is about 26% us of machine-1, and the cpu utilization of another machine is not such high.
machine-1: 1 server, 1worker
machine-2: 1scheduler,1server,1work

[2020-08-06 08:37] ymjiang commented on #282
`MXNET_CPU_WORKER_NTHREADS` no longer works since BytePS does not rely on MXNet now. You can try tuning `BYTEPS_SERVER_ENGINE_THREAD`.

We never saw this problem in our platform. Can you also try to bind the processes to specific cores using `taskset`? Make sure that the worker and server processes are bind to different cores to avoid contention.

[2020-08-06 11:32] DeruiLiu commented on #282
i use **taskset** to bind the worker and server process to different cores, but the output is also unstable, do you have ever test the cohost case? put the server and a worker on one machine.
can you tell me  which way to use in IPC? message queue? share memory? or other way?

[2020-08-06 11:47] ymjiang commented on #282
The colocated mode uses shared memory. It works very well in our environment..

If you are sure this problem does not happen in single machine training, would you test the [ps-lite IPC benchmark](https://github.com/bytedance/ps-lite/tree/byteps#2-benchmark-with-ipc-support) and paste the performance log? We may be able to know whether the problem is in networking.

[2020-08-06 12:07] DeruiLiu commented on #282
i try to run /tests/test_ipc_benchmark and the representative part of output is as below: and in this case i don't use taskset.
**Most of the time it's more than 90G, and a few times it's  more than 40G.**

`[20:11:17] tests/test_ipc_benchmark.cc:136: Application goodput: 93.3967 Gbps
[20:11:17] tests/test_ipc_benchmark.cc:136: Application goodput: 93.4521 Gbps
[20:11:17] tests/test_ipc_benchmark.

[2020-08-06 12:39] ymjiang commented on #282
This is strange. The goodput should not drop that much. If your network is based on RoCE, Is PFC control enabled? (e.g., have you checked the RDMA bandwidth by `ib_write_bw`?)

BTW, the log period you show is quite short. You can reduce the log frequency by `LOG_DURATION=100` or larger.  Maybe we should see longer period.

[2020-08-07 06:08] DeruiLiu commented on #282
yeah, thank you. now i solved it, the reason is about PFC. i do not enabled PFC control, it is so stupid. thank you very much!!

[2020-08-07 06:08] #282 closed

[2020-08-12 06:01] hyungjun2 opened #286 "tensorflow pull is not overlapped with computation"
**Describe the bug**
I profiled the tensorflow example using resnet50.  It does not overlap with forward computation.
And when using byteschduler, an error message appears indicating that the kernel is not registered.
An error occurred when using byteschduler's make, so the make file was modified.

modified make command
g++ -std=c++11 -shared -D_GLIBCXX_USE_CXX11_ABI=0 -o libplugin.so plugin.cc ${

[2020-08-12 14:48] ymjiang commented on #286
The TF `synthetic_benchmark.py` example you run does not support overlapping between forward propagation and communication. So the problem is expected. Yes, you should use the bytescheduler branch if you want to break the barrier.

Ping @pengyanghua: Can you please check the bytescheduler problem?

[2020-08-13 04:37] hyungjun2 commented on #286
thank you for the reply

I solved the No registered problem using the command below. However, a new problem arose.

PS command

CUDA_VISIBLE_DEVICES= python /home/jun/horovod_test/byte_schduler/benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py \
--model=alexnet \
--num_batches=100 \
--train_dir=/home/jun/horovod_test/byte_schduler/train_model \
--batch_size=32 \
--optimizer=sgd \
--data_na

[2020-08-14 11:53] pengyanghua commented on #286
@hyungjun2 Did you apply the [patch](https://github.com/bytedance/byteps/blob/78ae602da8fdb2ccb3ee666933d6e791102de355/bytescheduler/bytescheduler/tensorflow/tf.patch) and recompile TF 1.13 from source code?

[2020-08-17 01:57] hyungjun2 commented on #286
@pengyanghua
Yes i did

![diff_img](https://user-images.githubusercontent.com/29619476/90350410-0999e780-e078-11ea-8ce3-e5a2bcad8eee.png)

[2020-08-17 05:18] pengyanghua commented on #286
@hyungjun2  Thanks for your confirmation. We did not test the new cnn_tf_v1.13_compatible branch. I will try it to see if the bug can be reproduced.

[2020-08-19 08:02] jasonliu747 commented on #278
@ymjiang any update on this issue?

[2020-08-21 05:51] dawnleave commented on #240
Hey there, is there an ETA for this? Thank you very much!

[2020-08-21 06:02] bobzhuyb commented on #240
We have an internal version that has this, but I am sorry that there is no ETA for open sourcing that. I'll see what I can do.

[2020-09-01 11:50] ZiyueHuang opened #292 "API changes of bps.mxnet.trainer after https://github.com/bytedance/byteps/pull/225"
After this PR, trainer.allreduce_grads will compute the average instead of the sum. Also, I think this line (https://github.com/bytedance/byteps/blob/master/byteps/mxnet/__init__.py#L322) is wrong, as it will ignore `self._scale = self._optimizer.rescale_grad` setting in the construction method, moreover, `self._scale` is designed to be multiplied on the gradients (in gluon.trainer and the previou

[2020-09-01 12:19] ZiyueHuang commented on #292
@ymjiang Hi, did you test the accuracy of the BERT model trained by https://github.com/byteps/examples/blob/master/mxnet/bert-large ? It seems that in this script, the NSP loss is normalized (by batch_size) on each worker, but MLM loss is not, see https://github.com/byteps/examples/blob/master/mxnet/bert-large/gluon-nlp/scripts/bert/pretraining_utils.py#L333-L343. Then the MLM loss will likely ove

[2020-09-01 13:49] ymjiang commented on #292
Seems like there are two questions.

The first one is about API changes after the gradient compression PR. @vycezhong Can you please take a look?

The second question is about MLM loss. The example repo is using an old version of gluon-nlp (v0.8) so it is possible that some metrics are not handled properly. If it is fixed in the latest gluon-nlp, are you interested in creating a PR for this? Thank

[2020-09-01 14:03] vycezhong commented on #292
@ZiyueHuang Yes, it will ignore `self._scale = self._optimizer.rescale_grad`. We did it on purpose. This change makes no difference for full-precision. But for compression, gradients needs to be averaged before being compressed.

[2020-09-01 14:16] ZiyueHuang commented on #292
Why not multiply `num_workers` back to the gradients at the end of `_allreduce_grads`? In order to let this API compute the sum, which is consistent to the previous API (and gluon.trainer and hvd.trainer also did sum in `allreduce_grads`).

Why ignore `self._optimizer.rescale_grad`? This is the parameter given by the user, e.g., `trainer = bps.Trainer(optimizer_params={'rescale_grad': 2})`. Why no

[2020-09-01 14:55] ZiyueHuang commented on #292
Let me summarize the API behavior change after/before this PR, and feel free to correct me if I make some mistakes :)
- `allreduce_grads` computes the average instead of the sum. Note that this will break some packages which depends on BytePS, e.g., gluon-nlp-BERT in your recently released example. @ymjiang
- if the user call `step`, now his/her input parameter `rescale_grad ` will make no use, bu

[2020-09-01 15:09] vycezhong commented on #292
@ZiyueHuang

I remember previouly it also computed the average. https://github.com/bytedance/byteps/blob/b8948f0927/byteps/mxnet/__init__.py#L201

And I agree on your suggestion of using `self._scale *= batch_size`. It looks right.

But call `allreduce_grads` then `update`, is a use case of MXNet? I never thought about it.

[2020-09-01 15:11] ZiyueHuang commented on #292
https://github.com/bytedance/byteps/blob/b8948f0927/byteps/mxnet/__init__.py#L201 only takes effect in `step` or `update`. `bps.trainer.allreduce_grads` will compute the sum.

`allreduce_grads` then `update` is allowed by MXNet API and heavily used in gluon-nlp.

[2020-09-01 15:17] vycezhong commented on #292
I never thought of this use case.. Let me see how to fix it.

[2020-09-01 15:23] ZiyueHuang commented on #292
This use case is documented in the doc of gluon.Trainer.... and also used by byteps/example/gluon-nlp-BERT.

I think the most appropriate way is to multiply `num_workers` back to the gradients at the end of _allreduce_grads, in order to let this API compute the sum. I have discussed this with @eric-haibin-lin about this yesterday and he currently thinks that let `allreduce_grads ` compute the aver

[2020-09-01 21:28] szhengac commented on #292
Another reason to compute average instead of sum is that it prevents overflow when training with FP16 and large number of workers.

[2020-09-06 09:55] vycezhong opened #293 "about fp16"
As is well known, float16 behaves bad in term of CPU performances (refer to https://stackoverflow.com/questions/15340781/python-numpy-data-types-performance). Float16 will be converted into float32, introducing a large overhead, especially for servers which are designed to locate in CPUs.

And in my experience, despite of halving communication overhead, float16 compression may not gain speed up. O

[2020-09-06 12:53] ymjiang commented on #293
We use AVX instructions to accelerate fp16 summation. Is there any specific problem you observe that shows fp16 dominates the overhead?

[2020-09-06 13:19] vycezhong commented on #293
Yes. But it still has to be converted into fp32 first.

For example, training vgg16 with 4 x p3.16xlarge, I do not observe any benefits with the same setup as the full-precision counterpart. The profile results show that PULL time increases, indicating that servers bear more computation burdens. Only after increasing number of engine servers, the throughput of fp16 slightly surpassed the full-prec

[2020-09-06 18:18] bobzhuyb commented on #293
What is your target performance? Our fp16 summation implementation can reach 100Gbps. Yes, it's slower than fp32, but it's enough for handling a 100Gbps NIC. I don't see any way to significantly speed it up unless newer CPUs add native instructions.

[2020-09-07 10:48] vycezhong commented on #293
I see. I just wonder whether fp16 can give certain (say, 10%) speedup in communication-intensive cases, like VGG-16.. The fact that gradient compression involves a lot of computations, where adding fp16 will hurt the performance, drives me to look for solutions of speeding up fp16 in CPUs. If there is no such solution, so be it :).

[2020-09-11 05:48] ChenYuHo commented on #282
Hello @ymjiang
I'm using docker built with byteps at master branch `2141033f6c9a09ab0393bdde77f9fa86a5d057de`, ps-lite at byteps branch `51f7248dd4d02d6182a4f93e6109f69a3a04d49b` and encountered the same issue when trying to use RDMA (with TCP it works), my settings are:
4 physical machines, 2 running workers, 1 running a server, 1 running a server and a scheduler

1 scheduler:
[code]
2 servers:
[

[2020-09-16 03:41] john159151 opened #294 "How's the performance between byteps and butterfly?"
I wonder that how's the performance between byteps and butterfly?
Can you offer more experiments of the performance? Thanks a lot.

[2020-09-16 03:45] bobzhuyb commented on #294
Can you point to a specific implementation of "butterfly" you mentioned?

[2020-09-16 06:19] ChenYuHo opened #295 "Check failed: mr ibv_reg_mr failed: Cannot allocate memory"
I'm using docker built with byteps at master branch `2141033f6c9a09ab0393bdde77f9fa86a5d057de`, ps-lite at byteps branch `51f7248dd4d02d6182a4f93e6109f69a3a04d49b` and encountered the same issue when trying to use RDMA (with TCP it works), my settings are:
4 physical machines, 2 running workers, 1 running a server, 1 running a server and a scheduler

1 scheduler:
[code]
2 servers:
[code]

2 worker

[2020-09-16 06:23] bobzhuyb commented on #295
What value did you reduce `BYTEPS_RDMA_RX_DEPTH` and `BYTEPS_RDMA_START_DEPTH` to? Can you try setting it even lower?

[2020-09-17 03:33] vycezhong commented on #293
I found maybe we can trade memory for performance by using buffer in FP32. We can get 5.8x reduction in time taken by SUM operation in FP16.

See quick benchmark [here](https://quick-bench.com/q/j1gfaoe3ichDtSGQdPN3TKbt9mw).

[2020-09-17 03:35] vycezhong commented on #293
Another benefit of using FP32 for buffer is to prevent overflow, which is common in FP16.

[2020-09-17 03:40] vycezhong commented on #293
When PULL begins, aggregated gradients in servers will be cast into FP16 for communication.

[2020-09-17 03:42] vycezhong commented on #293
When casting into FP16, we can detect overflow and log warnings.

[2020-10-03 11:40] Rivendile opened #300 "training details about ByteScheduler"
I would like to reproduce the results shown in ByteScheduler. However, I didn't find the dataset used for these models and I can't decide some parameters, such as the image size and token numbers of a sample. Could you please tell me what setting should I use to reproduce the results?

[2020-10-04 12:21] ymjiang commented on #300
@pengyanghua : Could you please introduce more about the experiment details?

[2020-10-06 02:30] Rivendile commented on #300
Furthermore, I would appreciate it if you could provide step-by-step instruction to run the MXNet-image-classification example.

[2020-10-06 10:14] pengyanghua commented on #300
@Rivendile Hi，The dataset for image classification and transformer is ImageNet 2012 and WMT17 respectively. For MXNet image classification in ByteScheduler, use the script here https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/examples/mxnet-image-classification/train_imagenet.py. All used settings are default except that batch size is 32 and num_classes is 10000. Feel free to e

[2020-10-06 10:14] pengyanghua commented on #300
@Rivendile Hi, The dataset for image classification and transformer is ImageNet 2012 and WMT17 respectively. For MXNet image classification in ByteScheduler, use the script here https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/examples/mxnet-image-classification/train_imagenet.py. All used settings are default except that batch size is 32 and num_classes is 10000. Feel free to

[2020-10-15 20:15] #72 closed

[2020-10-22 21:42] flint-stone opened #307 "numa.h not found when building for pytorch"
**Describe the bug**
The building process fails because it cannot find numa.h. I have pytorch 1.6.0 installed. I also have libnuma installed.

**To Reproduce**
I followed the same steps from the README. Running with "python setup.py install"

**Screenshots**
If applicable, add screenshots to help explain your problem.
See the error message below:

![image](https://user-images.githubusercontent.com

[2020-10-23 00:37] ymjiang commented on #307
Does exporting this custom path to the PATH env var works for you?

[2020-10-23 00:50] bobzhuyb commented on #307
The header files should be in numactl-devel (in CentOS). Just numactl is not sufficient.

[2020-10-23 03:13] flint-stone commented on #307
Thanks for the reply. I apologize for the confusion @bobzhuyb  -- I do have numactl-devel installed through [https://anaconda.org/conda-forge/numactl-devel-cos6-x86_64](conda). What I did was only to add the custom path to $PATH environment as @ymjiang  suggested. However I'm still getting the same error -- I wonder which location should be the path that compiler is reading from.

[2020-10-23 04:01] bobzhuyb commented on #307
If you don't mind editing the code a little bit, you can add the header folders here:
https://github.com/bytedance/byteps/blob/master/setup.py#L241

I am not entirely sure which environment variables the python setup toolchain would inherent

[2020-10-23 19:29] flint-stone commented on #307
Thanks! The workaround works great.

[2020-10-23 19:29] #307 closed

[2020-10-23 23:56] flint-stone opened #309 "Possible to simulate multi-server behavior on machines with multi GPU?"
**Describe the bug**
I'm trying to see if I can run the example benchmark script and simulate a multi-machine scenario using the instructions provided [here](https://github.com/bytedance/byteps/blob/4a5b5c9a0d074c3b8c1533f82df5ba1a6ef337f4/docs/step-by-step-tutorial.md#distributed-training-tcp). The single machine scenario works ok on my machine but it seems I wasn't be able to run two workers (an

[2020-10-24 01:43] ymjiang commented on #309
You can use `CUDA_VISIBLE_DEVICES` ([link](https://developer.nvidia.com/blog/cuda-pro-tip-control-gpu-visibility-cuda_visible_devices/)) to control the visible devices for each process. However, the two workers may still have interference on the same machine (e.g., they may share common socket names for local communication), and it'd better to launch them in individual dockers.

[2020-10-24 02:08] flint-stone commented on #309
Thanks -- I think the shared socket path is the issue.

[2020-10-24 02:09] #309 closed

[2020-10-29 08:25] wuyujiji opened #311 "import bytes.torch error"
**Describe the bug**
Excuse me, I build byteps from source, the tensorflow1.15.0 builds and import byteps.tensorflow successfully, but the pytorch builds failed. The error is shown as following:
<img width="1297" alt="截屏2020-10-29 下午4 21 07" src="https://user-images.githubusercontent.com/25579435/97543146-c5757c80-1a02-11eb-89e9-d6af796e2f28.png">

However, I can import torch successfully in this

[2020-10-29 08:38] ymjiang commented on #311
You may need `export LD_LIBRARY_PATH=/path/to/your/gcc:$LD_LIBRARY_PATH`.

[2020-10-29 08:40] wuyujiji commented on #311
which position should I export, before building byteps?

[2020-10-29 08:42] wuyujiji commented on #311
I use `source scl_source enable devtoolset-4` to set gcc 5.3.1, the gcc path should be existed in LD_LIBRARY_PATH

[2020-10-29 10:16] wuyujiji commented on #311
it solves, the version of gcc is too old, thanks a lot!

[2020-10-29 10:16] #311 closed

[2020-10-30 08:29] Rivendile opened #312 "[ByteScheduler] Process does not stop"
When I use the ByteScheduler and mxnet parameter-server, I find that the process of worker will not stop. I use the recommended docker file on V100/T4. Any suggestions?

[2020-10-30 11:14] wuyujiji opened #313 "run distributed training with RDMA reports the libibverbs warning"
**Describe the bug**
Excuse me, based on https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md, when I run  distributed training with RDMA, the scheduler will print the following warning:

BytePS launching scheduler
[19:05:14] byteps/server/server.cc:339: BytePS server engine uses 4 threads, consider increasing BYTEPS_SERVER_ENGINE_THREAD for higher performance
[19:05:14] s

[2020-10-30 14:29] ymjiang commented on #313
Can you try adding the path of libibverbs to `$LD_LIBRARY_PATH`?

[2020-10-30 14:34] ymjiang commented on #312
Can you show the worker's log with `PS_VERBOSE=1`? How about the server and scheduler processes?

[2020-10-31 03:12] Rivendile commented on #312
The logs are as follows:
worker:
`[02:56:24] src/van.cc:290: Bind to role=worker, ip=172.31.87.62, port=55629, is_recovery=0`
`[02:56:24] src/van.cc:238: W[9] is connected to others`
`02:56:24.516 bytecore.py:40 INFO: use priority scheduler`
`02:56:24.517 comm.py:185 INFO: Comm host: localhost, port: 58888`
`02:56:24.517 search.py:119 INFO: Bayesian Search is enabled, space {'credit': (1.0, 16.0)}

[2020-10-31 04:08] ymjiang commented on #312
@pengyanghua: Seems that ByteScheduler worker process does not invoke `ps::Finish()`.

[2020-10-31 04:42] wuyujiji commented on #313
I check the libibverbs path and find a phenomenon:
the warning reminds having not 'xxx-xxx2.so', but my path is 'xxx-xxx22.so', as shown following picture:
<img width="1469" alt="截屏2020-10-31 下午12 37 54" src="https://user-images.githubusercontent.com/25579435/97771303-6a649680-1b76-11eb-94ed-f8591793bb1d.png">
Need I to `ln -s xxx-xxx22.so xxx-xxx2.so`?

[2020-10-31 17:11] aoranwu opened #314 "[ByteScheduler] Patch file for PyTorch in ByteScheduler"
I'm confused about this line in the patch file: https://github.com/bytedance/byteps/blob/78ae602da8fdb2ccb3ee666933d6e791102de355/bytescheduler/bytescheduler/pytorch/horovod_pytorch.patch#L23
What does this line do? Should this be
[code]
instead?

[2020-11-01 03:21] pengyanghua commented on #312
@Rivendile Thanks for the feedback. As said by ymjiang, this is a bug caused by failing to call ps::Finish().

" I found that ByteScheduler is much faster than baseline even on one scheduler, one server and one worker. The results are different with those in paper."
=> In the paper, we did not use distributed training (i.e., no parameter server or scheduler) when there is only one worker. So the p

[2020-11-01 03:25] pengyanghua commented on #314
@aoranwu Thanks for your feedback and you are right. Would you mind opening a pull request to fix this?

[2020-11-01 03:56] Rivendile commented on #312
Thanks for your timely reply. Hope this bug will be fixed soon.

[2020-11-01 14:09] wuyifan18 opened #315 "[example] A bug in synthetic_benchmark_tf2.py"
**Describe the bug**
There is a bug when I run the synthetic_benchmark_tf2.py.

The first parameter of [tf.losses.categorical_crossentropy](https://www.tensorflow.org/api_docs/python/tf/keras/losses/categorical_crossentropy) should be a tensor of one-hot true targets, but the parameter in this code is just integer. So, we should use [sparse_categorical_crossentropy](https://www.tensorflow.org/api_

[2020-11-02 02:09] wuyujiji commented on #313
I tried to `ln -s xxx-xxx22.so xxx-xxx2.so`, but not effect:

[code]

[2020-11-02 02:58] wuyujiji commented on #313
I talk about this question with my colleague, the conclusion is that the following warning is normal, the key point is sever and worker print this error:
`3rdparty/ps-lite/include/dmlc/logging.h:276: [19:14:03] src/van.cc:376: Check failed: !ip.empty() failed to get ip`
and we don't know the reason

[2020-11-02 03:02] ymjiang commented on #313
Can you make sure that `ib_send_bw` works as expected? Just to confirm the drivers are fine.

[2020-11-02 03:14] wuyujiji commented on #313
it looks like normal.

sever:
[code]
client:
# ib_send_bw -d mlx5_0 -F -x 3 -a -q 2 10.137.144.13

libibverbs: Warning: couldn't load driver 'nes': libnes-rdmav2.so: cannot open shared object file: No such fil$
 or directory
libibverbs: Warning: couldn't load driver 'hns': libhns-rdmav2.so: cannot open shared object file: No such fil$
 or directory
libibverbs: Warning: couldn't load driver 'cxgb3'

[2020-11-02 03:21] wuyujiji commented on #313
I paste the output of `ifconfig`, `ibdev2netdev` and `ibv_devinfo`:

ifconfig:
[code]
ibdev2netdev:
[code]
ibv_devinfo:
[code]

[2020-11-02 03:24] wuyujiji commented on #313
Here is my running script of scheduler and sever:
scheduler:
[code]
server:
[code]

[2020-11-02 03:33] ymjiang commented on #313
Seems that your eth0 does not have an available ip. You can either set `DMLC_INTERFACE=br0`, or manually add `DMLC_NODE_HOST=10.137.144.13`.

[2020-11-02 03:56] wuyujiji commented on #313
Thanks a lot ,this problem is solved. But I met another problem:Check failed: mr ibv_reg_mr failed: Cannot allocate memory. According to https://github.com/bytedance/byteps/issues/282 and https://github.com/bytedance/byteps/issues/216, this bug seems to fix and merge into master branch. I build byteps with` pip install` and the version is 0.2.4. Do this version merges this PR?

[2020-11-02 04:30] ymjiang commented on #313
v0.2.4 does not contain the fix yet, sorry. We will release v0.2.5 on pypi in a few days.

If you don't mind installing from the source code, you can pull v0.2.4 but manually update the ps-lite submodule to `7e4800febf`.

[2020-11-02 04:35] wuyujiji commented on #313
It means the v0.2.5 source has fixed this issue? can I directly build v0.2.5 from source without any change?

[2020-11-02 04:46] ymjiang commented on #313
I just checked and you still need to change the source code a little bit. The correct process is: Pull byteps v0.2.5, and change the ps-lite submodule to `7e4800fe`, then compile byteps using `python3 setup.py install`.

Apologize for the inconvenience. We will fix this in https://github.com/bytedance/byteps/pull/316.

[2020-11-02 04:47] wuyujiji commented on #313
OK, thank you very much, I will try it soon.

[2020-11-02 06:28] flint-stone opened #317 "Applying PyTorch benchmark to default PyTorch best practice"
Hi! I'm trying to reason about performance vs. utilization running distributed training comparing byteps and default pytorch (through NCCL). And I'm wondering the best way to reproduce the same [ benchmark script](https://github.com/bytedance/byteps/blob/master/example/pytorch/benchmark_byteps.py) for default pytorch using NCCL.

What I have attempted was to modify the script and remove all BPS co

[2020-11-02 08:04] wuyujiji commented on #313
Hello, based on your suggesstion, I checkout the commit `7e4800f ` and the problem also occurs:

Here is my build command:
[code]

the error is:

[code]

[2020-11-02 08:17] wuyujiji commented on #313
the output of `ulimit -l ` is `131072`

[2020-11-02 08:33] ymjiang commented on #313
Have you tried tuning the value of `BYTEPS_RDMA_RX_DEPTH` and `BYTEPS_RDMA_START_DEPTH`?

[2020-11-02 08:37] wuyujiji commented on #313
No，Did you PR not solve this problem? How did I set the value of `BYTEPS_RDMA_RX_DEPTH` and `BYTEPS_RDMA_START_DEPTH`?  Whether using `export` in terminal and then rerunning, or set this two value and then recompiling?

[2020-11-02 08:40] ymjiang commented on #313
The PR only makes the value configurable.

No need to recompile. Just export the value and then rerun.

[2020-11-02 09:00] wuyujiji commented on #313
Need I only set the value of `BYTEPS_RDMA_RX_DEPTH` and `BYTEPS_RDMA_START_DEPTH` in scheduler, or the worker and server also need to set? How much the value is proper?

[2020-11-02 09:33] wuyujiji commented on #313
when I export `BYTEPS_RDMA_RX_DEPTH=1024` and export `BYTEPS_RDMA_START_DEPTH=64` in scheduler, server and two workers, the scheduler workers well, but the server occurs the errors:

[code]

[2020-11-03 02:22] wuyujiji commented on #313
according to https://github.com/bytedance/byteps/issues/282#issuecomment-669082744, his problem is sloved by change the sequence of running scheduler, worker and server. I want to know the different execution sequence can cause the error of RDMA registers memory region? Furthermore, what is the correct execution order？

[2020-11-03 02:41] ymjiang commented on #313
This is caused by not having enough resources for registering the memory buffers.

Here are a few things to try: (duplicate of https://github.com/bytedance/byteps/issues/216#issuecomment-596891713)
- Increase the start_depth and rx_depth for the server process only. (because the scheduler/worker already work)
- Use 2 servers for 2 workers so that the RDMA load will be divided and balanced.

[2020-11-03 05:21] wuyujiji commented on #313
I tried these two ways and the problem is still not solved. In https://www.rdmamojo.com/2012/09/07/ibv_reg_mr/, it shows that the another possible for register MR failed is no permission write **(official: read only memory cannot be registered with write permissions (either local or remote))**. My docker is runned without root permission, I don't know whether the write permission is caused by this

[2020-11-03 07:03] ymjiang commented on #313
Can you run this benchmark? https://github.com/bytedance/ps-lite#1-basic-benchmark

If it works, then the problem is not related to the permission.

[2020-11-03 07:46] wuyujiji commented on #313
the output of tests/test_benchmark:
[code]

the output of tests/test_ipc_benchmark:
[code]
it seems works well

[2020-11-03 10:34] wuyujiji commented on #313
hello, the above error is solved by increase the value of `ulimit -l `. However, I met the next problem which is similar to https://github.com/bytedance/byteps/issues/282#issuecomment-669636652. According to his solution, I checked my PFC config and confirmed it's enable. Therefore, I don't know the reason my performance is unstable. Here is my `ipc-benchmark` output for `LOG_DURATION=100`:
[code]

[2020-11-04 01:03] ymjiang commented on #313
How did you confirm it? From the log of `ib_send_bw` you posted above, the bandwidth looks quite low (~10MB/s). I am confused by the results since they are inconsistent with your test_ipc_benchmark.

PS: You can use the test_benchmark to test the 1v1 RDMA performance.

[2020-11-04 02:02] bobzhuyb commented on #313
You misread the ib_send_bw bandwidth unit. The performance is expected.

[2020-11-04 02:05] bobzhuyb commented on #313
@wuyujiji You can check the counters in this folder `/sys/class/infiniband/mlx5_1/ports/1/hw_counters/`  (or change mlx5_1 to other IB device according to your setup). `out_of_sequence`, `rp_cnp_handled`, `np_ecn_marked_roce_packets` etc. should give you a good understanding of the network level details. Those counters should not grow when you run 1-to-1 traffic.

[2020-11-04 03:50] wuyujiji commented on #313
@bobzhuyb Hi, I am not familiar with RDMA, when I test 1-to-1 traffic (test_banchmark.cc), the program finished quckily, the output is:
[code]
when checking `out_of_sequence `, `rp_cnp_handled`, `np_ecn_marked_roce_packets`, and `np_cnp_sent`,  all value have no increasing, I don't konw whether the program executes shortly to have no increased.

In addtion, when I run the test_ipc_banchmark.cc for

[2020-11-04 04:00] wuyujiji commented on #313
I did another experiment, when reduceing to 1worker and 1server in one machine and running the test_ipc_banchmark.cc, the  `out_of_sequence` and `rp_cnp_handled` have never change.

[2020-11-04 04:52] bobzhuyb commented on #313
`out_of_sequence` growing means there is packet drop, so probably PFC is not enabled. You should ask your system admin about PFC configuration.. You may be able to check the configuration by `mlnx_qos -i eth0` (or other interfaces)

[2020-11-04 05:24] wuyujiji commented on #313
the output of mlnx_qos -i eth0 is:
[code]
I am sorry that I don't know whether PFC config is enable. Could you please help me check this? thanks a lot!

[2020-11-04 05:48] wuyujiji commented on #313
I also check theoutput of `mlnx_qos -i eth1 `is:
[code]

[2020-11-06 01:34] ymjiang commented on #317
Let me make sure if I understand the question -- You want to test the PyTorch performance using `torch.distributed`, and  you changed [this script](https://github.com/bytedance/byteps/blob/master/example/pytorch/benchmark_byteps.py) by adding the `torch.distributed` package and removing the BytePS communication.

In your code, you do `import torch.distributed as dist` but do not use it. Usually th

[2020-11-09 02:10] Rivendile commented on #312
Is there any update?

[2020-11-10 09:20] Rivendile commented on #312
I find that there is shutdown function in common/comm.py and common/bytecore.py. But they are not called. Thus the CommServer is stuck in a loop. Should I call the shutdown functions explicitly? Any suggestions on this bug?

[2020-11-10 13:02] pengyanghua commented on #312
@Rivendile Yes you are right. Could you try calling shutdown function in common/bytecore.py explicitly when the training ends?

[2020-11-11 02:28] Rivendile commented on #312
@pengyanghua I add core.shutdown at the end of the training. One more info is printed on the screen:
`02:28:36.423 bytecore.py:156 INFO: shutdown Core 0.`
However, the process is still not ended.

[2020-11-11 11:52] wuyujiji commented on #313
@bobzhuyb @ymjiang hello，did you have the random number experiment result of `byteps/example/pytorch/benchmark_byteps.py`，I want to check my corresponding results

[2020-11-12 06:37] flint-stone commented on #317
@ymjiang The dist was used in line 53 to initiate the process group but I think I came to realize the script wasn't actually using  all reduce correctly -- closing the issue.

[2020-11-12 06:52] flint-stone opened #320 "Segmentation fault using multiple nodes with multi-gpu"
Hello! I'm trying to run the [benchmark_byteps.py](https://github.com/bytedance/byteps/blob/188271b13a08b6a42408f2040ebaf881ef3e1409/example/pytorch/benchmark_byteps.py) from the step-by-step tutorial. But it seems I'm getting an error of segmentation fault during the NCCL ring set up stage -- I followed the instructions from [distributed training](https://github.com/bytedance/byteps/blob/188271b1

[2020-11-12 07:50] ymjiang commented on #320
Your title is "Segmentation fault using multiple nodes with multi-gpu". Are you sure about this? From the log it seems only relevant to NCCL, and should also happen using a single node.

[2020-11-12 10:30] lucasleesw commented on #286
Could you share how to implement bytescheduler with overlapping between forward propagation and communication?
Is Byteps necessary? Tensorflow parts docs of bytescheduler might be confused.
Any information help, thank you a lot~

[2020-11-12 13:11] pengyanghua commented on #312
@Rivendile I think that is because pslite ps::Finish() is not called, though bytescheduler's scheduling thread is stopped. Could you try adding a delete method (https://github.com/apache/incubator-mxnet/blob/master/python/mxnet/kvstore/kvstore.py#L72) and see if it works?

[2020-11-12 13:20] pengyanghua commented on #286
@lucasleesw You may check the overlapping implementation here https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc, the computation dependency graph is modified. BytePS is not necessary.

[2020-11-12 13:22] pengyanghua commented on #286
@lucasleesw Also, to observe the overlapping from timeline, it is recommended to profile large models like VGG.

[2020-11-12 16:56] wuyifan18 commented on #83
I have the same problem when I use ResNet101, but it's fine using ResNet50.

[2020-11-13 00:37] #317 closed

[2020-11-13 03:39] Rivendile commented on #312
@pengyanghua I have tried adding a delete method.
However, if I add `del kv` at the end of fit, the process will not stop.
If I add the following code in class  ScheduledKVStore:
`def __del__(self):`
`    del self._kvstore`
and `del kv` at the end of fit, the worker process is stopped with an error "terminate called without an active exception", while the scheduler and server process are still not

[2020-11-13 13:59] wuyifan18 opened #321 "Error: OS call failed or operation not supported on this OS"
**Describe the bug**
I use BytePS/PyTorch training on a single server with 4 P100 GPU, it works fine when setting layers 50 but raise error for layers 152.

**To Reproduce**
Steps to reproduce the behavior:
1. bpslaunch python benchmark_byteps.py --model resnet152 --num-iters 5
2. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/27428539/99079695-3ddf5e80-25fb-11eb-905

[2020-11-14 04:39] pengyanghua commented on #314
The bug is fixed. The code is reorganized based on the original paper version for open source purpose, so it may contain unexpected bugs.

[2020-11-14 04:39] #314 closed

[2020-11-14 07:47] pengyanghua commented on #312
@Rivendile Thanks for your feedback. I submitted a bug fix 1cf093564dc64a1a2274b4f6385f82985ac9c525, please check if it works.

[2020-11-14 08:27] Rivendile commented on #312
It works! Thanks a lot.

[2020-11-14 08:27] #312 closed

[2020-11-17 16:06] vycezhong opened #322 "what(): Type -384397024 is not supported in BytePS."
**Describe the bug**

MXNet MNIST example failed to run with the latest byteps.

commit: 69a3dc61bbe5dcf83f029eedd3892ef47147829e

**To Reproduce**
Steps to reproduce the behavior:
1. launch scheduler
2. launch one server locally
3. launch one worker locally
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2020-11-18 12:08] ymjiang commented on #322
Does it happen with older version of mxnet? This benchmark should work normally with mxnet 1.5.0 in my tests.

BTW, is it related to distributed training? I am asking this because you used `BYTEPS_FORCE_DISTRIBUTED=1`.

[2020-11-19 04:53] #295 closed

[2020-11-19 08:47] jasonliu747 commented on #321
Facing the same issue, does byteps requires specific library version?
![image](https://user-images.githubusercontent.com/24452340/99642821-e3c11c00-2a86-11eb-9553-3aabdb954ef1.png)

[2020-11-19 09:29] bobzhuyb commented on #321
The error looks like that your OS does not allow BytePS to open a big enough share memory. Can you try raising the share memory limit? A few GBs should be sufficient.

[2020-11-19 09:37] jasonliu747 commented on #321
@bobzhuyb How about this situation?
![image](https://user-images.githubusercontent.com/24452340/99648228-c04d9f80-2a8d-11eb-9ce7-271aa43d6694.png)

[2020-11-20 16:39] HugoZHL opened #323 "tensorflow.push_pull CANNOT calculate AVERAGE, it always gives SUM"
**Describe the bug**
In Tensorflow push_pull function, `op` can never equal `Average` since `op` is a value from Enum class while `Average` is just a str.
This bug causes the push_pull function in Tensorflow to always calculate the SUM of tensors instead of AVERAGE.

**To Reproduce**
Steps to reproduce the behavior:
1. add a log `print('Type of op and Average: ', type(op), type(Average))` after li

[2020-11-20 18:28] bobzhuyb commented on #323
@pleasantrabbit I think we can support `Average` easily

[2020-11-20 18:37] bobzhuyb commented on #315
Merged.

[2020-11-20 18:37] #315 closed

[2020-11-20 18:49] bobzhuyb commented on #321
@jasonliu747  I see. Your error is different from @wuyifan18 's.

I don't know why such a basic CUDA call would fail
https://github.com/bytedance/byteps/blob/master/byteps/common/shared_memory.cc#L39

What kind of GPU are you using?

[2020-11-20 19:30] pleasantrabbit commented on #323
Yes, we'll add `Average` support.

[2020-11-21 13:53] HugoZHL commented on #323
https://github.com/bytedance/byteps/pull/324
here's the pull request to fix this bug.

[2020-11-22 10:47] vycezhong commented on #322
So the behaviour is that the tensor's dtype mysteriously becomes a large negative number and triggers an error when trying to get the tensor size.

It is very weird because tensor's dtype cannot be changed. I suspect there is a memory leak.

I run the test with single worker and server so i used BYTEPS_FORCE_DISTRIBUTED=1.

[2020-11-22 13:00] vycezhong commented on #322
I still got the same error with mxnet-cu101==1.5.0.

[2020-11-22 16:54] vycezhong commented on #322
I got it. It is because the callback has been called already and the tensor may be freed before invoking tensor->dtype(). The solution is to put the speed record before calling callback.

[2020-11-22 16:54] #322 closed

[2020-11-23 02:34] jasonliu747 commented on #321
@bobzhuyb I'm using 2080Ti. After rollback to #305,, everything works well.

[2020-11-25 13:34] idoh commented on #271
After a bit of digging, I believe the problem is that for asynchronous training the communications don't overlap with the backward computations: https://github.com/bytedance/byteps/blob/master/byteps/torch/__init__.py#L132

After changing the asynchronous training to send gradients in the backward pass, it is slightly faster training than synchronous.

[2020-12-02 05:53] dawnleave commented on #240
I will appreciate it if there is an update on ETA or DFD!

[2020-12-02 06:20] bobzhuyb commented on #240
Let's shoot for Jan/Feb? @jdaaph

[2020-12-02 07:11] jdaaph commented on #240
Yes Let’s shoot for end of Jan.

[2020-12-02 09:26] lizi998 opened #328 "bpslaunch: command not found"
期待您的答复，谢谢。
根据指导：https://github.com/bytedance/byteps/blob/4a5a6d0d7826b575192810853689c17610c65ee9/docs/step-by-step-tutorial.md（单机-Pytorch）

我的脚本如下：
export NVIDIA_VISIBLE_DEVICES=0  # gpus list
export DMLC_WORKER_ID=0 # your worker id
export DMLC_NUM_WORKER=1 # one worker
export DMLC_ROLE=worker
bpslaunch python ./benchmark_byteps.py --model resnet50 --num-iters 1000000

报错信息：bpslaunch: command no

[2020-12-03 02:44] #328 closed

[2020-12-05 16:03] vycezhong opened #329 "AttributeError: module 'pre_setup' has no attribute 'ucx_path'"
I encountered this compile error with the latest commit.

@pleasantrabbit   Is there something missing in this commit https://github.com/bytedance/byteps/commit/df7095bdac430a09351af75f9798cc497089f85b?

[2020-12-06 02:04] pleasantrabbit commented on #329
@vycezhong thanks for the report. I am fixing it.

[2020-12-06 06:34] bobzhuyb commented on #329
@pleasantrabbit We should use pull request

[2020-12-06 08:05] chenxie95 commented on #329
I encountered the same issue. It works well if I pull the image to my local machine

[2020-12-06 09:02] bobzhuyb commented on #329
@chenxie95 Can you set `BYTEPS_WITH_UCX=0` when installing it? Or, use an older commit.

[2020-12-06 21:02] #329 closed

[2020-12-06 21:05] pleasantrabbit commented on #329
@vycezhong @chenxie95
It's fixed in the latest master commit. Please give it a try.

[2020-12-06 22:26] chenxie95 commented on #329
I have just verified the docker build in my local machine. It works for me now. I could build the image successfully.
Many thanks for the quick fix!

[2020-12-06 22:38] chenxie95 opened #331 "a naïve questions on using byteps for distributed training"
Many thanks for sharing the implementation. It is really interesting and promising. I want to have a try in my training as well. I have got some naïve questions on this.
Now I could build the docker image and repeat the experiment with 1 machine (with 4 or 8 GPUs in the machine) easily.
However, I encountered some issue for distributed training.
The way I used for distributed training before is wi

[2020-12-07 02:43] lucasleesw commented on #249
Hi, I met Segmentation fault too.
I already recomplie TF 1.13.2 from source with the patch and build the libplugin.so.

Benchmark can run successfully without 'tf.load_library('libplugin.so')'.
But meet Segmentation fault with 'tf.load_library('libplugin.so')'.

Could help me with this? Thank you!

---
Run commands:
[code]
---
End of Logs:
[code]

[2020-12-07 04:42] bobzhuyb commented on #331
There is a launcher you can try, see the README in the folder
https://github.com/bytedance/byteps/tree/master/launcher

[2020-12-07 04:46] vycezhong commented on #329
Yes it works. Thanks.

[2020-12-07 07:18] vycezhong opened #332 "mxnet's target depends on torch's library"
I encounter link error when I tried to import byteps.mxnet.

[code]

I checked `c_lib.cpython-36m-x86_64-linux-gnu.so ` and found it depended on some torch's library.
[code]

Then I checked the compile command and found it did link torch's library.

[code]

It is maybe because `options` is changed inside `build_torch_extension`. I suggest copying `options` every time before building extension.

[c

[2020-12-08 11:45] wuyujiji opened #333 "The performance of many execute times are different"
**Phenomenon**
Thanks for your excellent works! Recently I ran `example pytorch/benchmark_byteps.py` with RDMA distributed traning based on https://github.com/bytedance/byteps/blob/master/docs/step-by-step-tutorial.md and found a strange phenomenon, which is the speed perfomance with many re-execute training shell are different in the same envrionment. For example, I run the **local mode** of 2wor

[2020-12-08 11:52] ymjiang commented on #333
Can you verify your RDMA performance using this benchmark?
https://github.com/bytedance/ps-lite#2-benchmark-with-ipc-support

[2020-12-08 11:56] wuyujiji commented on #333
Using it to test, it is normal, otherwise I cannot get the stable result of the first and third times.

[2020-12-08 14:34] pengyanghua commented on #249
@lucasleesw Hi, could you give more details or commands about your GCC version, how you compiled TF after applying the patch, how you compiled the TF plugin?

[2020-12-09 01:10] lucasleesw commented on #249
Hi @pengyanghua, my GCC version is 4.9, I complied TF with source(origin/r1.13) after applying the patch. The bazel version is 0.19.2.
Sorry I have no idea about what cause this error.
Everything is fine if I run with 'tf.load_library('libplugin.so')' like this:
[code]

[2020-12-09 05:08] wuyujiji commented on #333
This is the output of `test_ipc_benchmark`:
![image](https://user-images.githubusercontent.com/25579435/101587669-a31e4800-3a1f-11eb-8e60-dda40c475e53.png)

[2020-12-10 07:04] hiyyg opened #334 "Cannot use bps.init() in ipython"
With horovod, we can directly type `hvd.init()` in ipython.  However, we cannot do it in byteps. Could you please fix this?

[2020-12-10 07:31] hiyyg opened #335 "How to install without internet access?"
During `pip install byteps`, it downloads some packages from https://raw.githubusercontent.com. How can I install these requirements manually and skip the download process?

[2020-12-10 08:00] hiyyg commented on #334
solved

[2020-12-10 08:00] #334 closed

[2020-12-10 08:00] hiyyg commented on #335
solved

[2020-12-10 08:00] #335 closed

[2020-12-10 08:47] hiyyg opened #336 "Where is the equivalent function of allgather?"
I cannot find it.

[2020-12-10 11:00] hiyyg commented on #186
Will pytorch support allgather?

[2020-12-10 13:58] hiyyg opened #337 "How to simultaneously run multiple different programs on a single machine?"
How to set the environment variables if I want to simultaneously run multiple programs on a single machine?
Currently, the second program will crash with segmentation fault.

[2020-12-10 14:20] hiyyg opened #338 "Horovod-like check build?"
?
[code]

[2020-12-11 11:44] pengyanghua commented on #249
@lucasleesw So after changing the start command of worker, it works?

[2020-12-11 11:52] lucasleesw commented on #249
@pengyanghua Hi, I recompiled TF and plugin with default GCC in Ubuntu. This segment error in worker part was gone but fall in anther segment fault error in ps part.
It may similar to segment fault mentioned in https://github.com/bytedance/byteps/pull/105#issuecomment-557541104, but I am not quite sure now. Thanks for your help~

[2020-12-16 09:30] Richie-yan opened #339 "Using ByteScheduler is not as fast as Ring-allreduce"
Hi, I applied ByteScheduler to Horovod+Pytorch, and ran pytorch_horovod_benchmark.py to compare the speed with Horovod+Pytorch without ByteScheduler, and found:

Restnet50 models:
ByteScheduler+Horovod+Pytorch: 180-200 img/sec per GPU
Horovod+Pytorch: 254 img/sec per GPU

The speed is much worse. Remember that ByteScheduler mentioned in the paper can increase by 11%-15%. Could you tell me where th

[2020-12-17 07:41] bobzhuyb commented on #339
+ @pengyanghua

Can you tell us your setup? like, how many GPUs/machines, batch size, etc.? ResNet is pretty light in communication, so you won't get significant improvement anyways.

[2020-12-17 09:31] Richie-yan commented on #339
Hi @bobzhuyb
I ran 8 GPUS in a PCIE machine, batch_size is: 32
I am curious to ask that the resnet50 income in the paper is 11%-15%.
In addition, when I was running pytorch_horovod_benchmark.py , the following error occurred when I reached about 340 steps:
[code]
Can you help me see why? I will be very grateful

[2020-12-17 12:10] pengyanghua commented on #339
@Richie-yan Could you give more details about your setup as there are many factors affecting the speedup, e.g., NCCL version, pytorch version, horovod version, network bandwidth, GPU type? The setup in the paper is:
1.  Docker image https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/docker/pytorch_horovod.Dockerfile
2. NCCL 2.3
3. using 16 - 64 Tesla-V100-PCIE-32GB GPUs
4. TCP
5.

[2020-12-17 13:10] Richie-yan commented on #339
Hi @pengyanghua
Thank you for your reply. I will try to analyze Horovod's timeline and debug the parameters you mentioned. My environment is as follows:
1. NCCL 2.4.8
2. horovod 0.16.0
3. using 8 Tesla-V100-PCIE-32GB GPUS
4. TCP
I will reply here again if there are new developments

[2020-12-17 13:33] Richie-yan commented on #339
Make sure in your python pytorch_horovod_benchmark.py --num-iters 100 --model resnet50 --num-classes 10000, is num-classes 1000 or 10000?

[2020-12-18 05:02] pengyanghua commented on #339
@Richie-yan  Yes the num of classes is 10000. I did not met the issue you encountered. I guess it is caused by software version, e.g., pytorch version.

[2020-12-18 10:45] lucasleesw commented on #339
Hi, My Horovod is faster than Bytescheduler too.
I set HOROVOD_FUSION_THRESHOLD=16MB like mentioned above. And I tried tuned BYTESCHEDULER_CREDIT and BYTESCHEDULER_PARTITION.
The highest number of bytescheduler in my situation is Img/sec per GPU: 110
While horovod is Img/sec per GPU: 130
I use 3 2080ti gpus with vgg16 model and the num-classes is 10000.

Any advice would help, thank you.

[2020-12-18 11:58] Richie-yan commented on #339
Hi @pengyanghua
I created the same mirror image in the same way as your dockfile above, but the following error will still be reported:
<img width="1088" alt="截屏2020-12-18 下午7 55 23" src="https://user-images.githubusercontent.com/41471499/102612253-58ad7180-416b-11eb-8396-a6698a536b98.png">

[2020-12-19 05:37] pengyanghua commented on #339
@Richie-yan It seems a mpi issue. You may try Google to solve it. Take a look at https://stackoverflow.com/questions/12079087/fork-retry-resource-temporarily-unavailable.

[2020-12-19 05:39] pengyanghua commented on #339
@lucasleesw Can you provide the horovod traces of baseline and bytescheduler respectively and upload their json trace files?

[2020-12-22 09:13] Richie-yan commented on #339
Hi, @pengyanghua
I wrote a very simple model myself and observed the following phenomena:
`BYTESCHEDULER_CREDIT: 16000000 BYTESCHEDULER_PARTITION: 8000000`
Throughput: 40 img/sec per GPU
Timelien's performance is: basically the gradient of the front layer will be scheduled first, and the gradient of the latter layer will be scheduled last
When BYTESCHEDULER_CREDIT is set to: 90000000
Throughput: 5

[2020-12-22 11:29] lucasleesw commented on #339
@pengyanghua
Hi, this is timeline of default Horovod for baseline.
[horovod_timeline.log](https://github.com/bytedance/byteps/files/5729516/horovod_timeline.log)
Performance:
Img/sec per GPU: 138.8 +-5.9
Total img/sec on 3 GPU(s): 416.5 +-17.8

And these are timelines for ByteScheduler and Horovod.
[bytescheduler_timeline.log](https://github.com/bytedance/byteps/files/5729549/bytescheduler_timelin

[2020-12-23 10:32] Richie-yan commented on #339
Hi, @pengyanghua
By the way, have you tested that when --num-classes is set to 1000, Bytescheduler has a positive return relative to horovod?

[2020-12-24 01:49] zarzen opened #340 "[ByteScheduler] Where is the file or code snippets for removing global barrier for Tensorflow?"
Hi,
Based on the last part of the readme file at [here](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/README.md#limitations) I would expect to find an optimizer rewrite for TensorFlow.

But the `tensorflow` folder here https://github.com/bytedance/byteps/tree/bytescheduler/bytescheduler/bytescheduler/tensorflow does not include an **optimizer/gradientTape** rewrite for overl

[2020-12-24 14:15] pengyanghua commented on #339
@Richie-yan Hi.

"But what can’t be explained is: Why does the throughput increase so much after increasing BYTESCHEDULER_CREDIT? Shouldn't the first case be the optimal scheduling?"

 tensor communication scheduling. So this is a tradeoff and BYTESCHEDULER_CREDIT depends on your network setup. You can check Sec. 4.2 in the paper for a more clear explanation.

"have you tested that when --num-clas

[2020-12-24 14:20] pengyanghua commented on #339
@lucasleesw Thanks for uploading the necessary info! I will check the trace this weekend.

[2020-12-26 03:05] pengyanghua commented on #340
@zarzen Hi, TensorFlow(both v1 & v2) does not support forward and backward overlapping out-of-box. Please check the SGD [here](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L166)

[2020-12-26 04:42] pengyanghua commented on #339
@lucasleesw From the horovod baseline time log, we can see that there is no opportunity to improve the training performance.

In your testbed setup with intra-machine PCIe communication, the communication time is fully hidden by backward computation. When layer 0 finished the backward computation, most or all of all-reduce communication of other layers have been finished.  So there is no need to s

[2020-12-27 00:59] szhengac opened #341 "Data Parallel Group as in Pytorch Distributed"
Pytorch distributed has a feature that allows users to define data parallel group https://pytorch.org/docs/stable/distributed.html. This feature is very useful when we use the model parallelism. And, we could possibly use byteps `push_and_pull` with the gradient compression feature Yuchen contributed for the gradient communication in deepspeed https://github.com/microsoft/DeepSpeed.

[2020-12-27 03:13] zarzen commented on #340
Hi @pengyanghua thanks for pointing me to the SGD part.
Yeah, I can understand the reason you have an out-of-band gradient manager. While it is unclear to me, how could you cross the TensorFlow's optimizer?
Is this because of the [GraphRewritePass](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L574)?
Or the other two passes? Could you elabo

[2020-12-27 05:41] pengyanghua commented on #340
@zarzen It is because of the [PSRewritePass](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L803). The graph on PS is modified using the two ops [SendParameter]( https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L455) and [RecvApplyGradientDescent ](https://github.com/bytedance/byteps/blo

[2020-12-27 06:18] zarzen commented on #340
@pengyanghua Thanks for the clarification.
Is it because [here](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L442) at [RecvApplyGradientDescentOp](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L403) one `done()` is called, the computation graph can continue working on its own, while

[2020-12-27 07:18] pengyanghua commented on #340
@zarzen Yes.

The parameter will only be sent after SGD update. See the [poll](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L484) implementation.

[2020-12-27 10:44] lucasleesw commented on #339
@pengyanghua Thank you for your clearance. I have tested inter-machine scenario and found speedup with vgg16 model. Indeed, schedule communication is necessary or not differ among cases.

[2020-12-27 13:29] #340 closed

[2020-12-28 02:53] Richie-yan commented on #339
Hi, @pengyanghua
Thank you for your answer. I tested resnet50 and VGG16 on 16GPUs and 32GPUs, and got positive benefits. It seems that in the case of multiple nodes, when the communication bottleneck occurs or the communication cannot be fully overlapped by the reverse calculation, ByteScheduler will play effect

[2020-12-28 08:58] pengyanghua commented on #339
@Richie-yan Yes, the speedup of ByteScheduler depends on the model forward time, backward time, communication time and scheduling overhead.

[2020-12-28 08:59] #339 closed

[2020-12-29 03:55] Rivendile opened #343 "[Bytescheduler] Tensorflow installation"
Hi, I tried to install Bytescheduler with Tensorflow. However, when I try to apply byteps/bytescheduler/bytescheduler/tensorflow/tf.patch, it says that this patch is corrupt. Any suggestions?

[2020-12-29 09:22] Rivendile commented on #249
Hi, I tried to build TF 1.13.2 from source but failed. The system information is as follows: Ubuntu 16.04/18.04, Bazel 0.19.2, GCC 4.9, Python 2.7, CUDA10.0, cudnn7, GPU T4.
The error is: ERROR: /home/cluster/tensorflow/tensorflow/core/kernels/BUILD:593:1: C++ compilation of rule '//tensorflow/core/kernels:eigen_contraction_kernel' failed (Exit 1)
Any help would be appreciate! Thanks!

[2020-12-30 02:07] Rivendile commented on #343
I have built TF 1.13.2 from source and run the Makefile in /byteps/bytescheduler/bytescheduler/tensorflow.
However, when I try to run
`import tensorflow as tf`
`tf.load_library('./libplugin.so')`
Error occurs: tensorflow.python.framework.errors_impl.NotFoundError: ./libplugin.so: undefined symbol: _ZTIN10tensorflow8OpKernelE
Any help would be appreciated! Thanks!

[2020-12-30 02:51] Rivendile commented on #98
I run into this error too, and could you please tell me how to put plugin.cc into TensorFlow project and build them together? Thanks a lot!

[2020-12-30 03:13] Richie-yan opened #345 "Whether Pcie becomes a bottleneck after optimization of NVLink topology"
BytePS is optimized in the machine under the NVLink topology.
First, reduce the machine. The user can set reduce_root.
According to the BytePS paper, the dataflow of the NVLink topology is that GPU6 goes to GPU0 and then to GPU2. But according to the official NV Introduced, for the two GPUs that are not directly connected through NVLink (GPU6 and GPU2 are not directly connected), GPU6 needs to go

[2020-12-30 03:35] ymjiang commented on #345
We use this figure just to illustrate that we set GPU2 as the reduce root. In the implementation, we use the ``reduce`` API of NCCL that can automatically form a ring on NVLinks (e.g., 4->6->7->5->3->1->0->2), so there won't be traffic on PCIe. It also works well in practice.

[2020-12-30 03:45] Richie-yan commented on #345
Thank you for your reply
That is to say, when nccl's automatic ring grouping, it actually connects every two directly connected GPUs together (NCCL will automatically detect which method of the two GPUs is the best), so that it is avoided Pcie is gone

[2020-12-30 06:19] #345 closed

[2020-12-30 09:53] Rivendile commented on #343
This problem solved. I added --no-as-needed in Makefile, because libtensorflow_framework.so will not be linked without this.

[2020-12-30 09:53] #343 closed

[2020-12-30 10:11] Rivendile commented on #249
Solved. I downgrade GCC to 4.8.

[2020-12-31 09:15] lizi998 opened #346 "Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading CUDA: invalid argument"
**Describe** the bug**
Thanks and look forward to your reply.
In my docker，I successfully deployed byteps. But there is a problem with running benchmark_byteps.py with the following command. As follows:

BytePS launching worker
[2020-12-31 08:38:59.299027: F byteps/common/**shared_memory.cc:39**] **Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading CUDA: invalid argument**
Aborted (co

[2020-12-31 09:19] bobzhuyb commented on #346
What GPU are you using?

[2020-12-31 09:43] lizi998 commented on #346
NVIDIA V100

[2020-12-31 18:30] bobzhuyb commented on #346
https://github.com/bytedance/byteps/blob/master/byteps/common/shared_memory.cc#L39

This is a simple API call to pin CPU memory for CUDA. I am not sure why it fails. Sometimes it is due to the OS configuration of the limit of locking memory pages.

Can you try some smaller models in torchvision?

[2021-01-01 07:48] ZYCCC927 opened #347 "NotFoundError : No registered 'RecvApplyGradientDescent' OpKernel for GPU devices compatible with node"
**Describe the bug**
Hello!
I'm trying to run [tensorflow/benchmark](https://github.com/tensorflow/benchmarks/tree/master/scripts/tf_cnn_benchmarks), everything is ok. But an error occured after I have added `tf.load_library('./libplugin.so')`. I have already applied the patch and built TF 1.13.2 from source code.
Any help would be appreciated. thanks！

**To Reproduce**
Steps to reproduce the beha

[2021-01-01 09:09] pengyanghua commented on #347
@ZYCCC927 There is no GPU kernel for this OP, check here https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/tensorflow/plugin.cc#L563. You may try use CPU-only parameter server.

[2021-01-04 07:49] Rivendile commented on #300
Hi, could you please tell me which code for Transformer did you use?

[2021-01-04 07:59] pengyanghua commented on #300
@Rivendile Hi, we use the [tensor2tensor](https://github.com/tensorflow/tensor2tensor/tree/v1.13.1) libaray with hyper-parameters "--model=transformer --problem=translate_ende_wmt32k --hparams_set=transformer_base --worker_gpu=8 --save_checkpoints_secs=600000 --train_steps=1000 --std_server_protocol=grpc --log_step_count_steps=20 --hparams='batch_size=512"

[2021-01-05 05:49] wydwww commented on #300
Hi @pengyanghua, can you please suggest how to train Transformer with MXNet (using Module API)? Thanks.

[2021-01-05 08:18] pengyanghua commented on #300
@wydwww Hi, we used [sockeye](https://github.com/awslabs/sockeye/releases/tag/1.18.92) with arguments "--learning-rate-scheduler-type fixed-rate-inv-sqrt-t --kvstore dist_sync --batch-size 4096 -s wmt17/wmt17-train.de -t wmt17/wmt17-train.en -vs wmt17/wmt17-val.de -vt wmt17/wmt17-val.en -o wmt_model --device-ids -8 --measure-speed-every 20 --max-updates 1000 --encoder transformer --decoder transfo

[2021-01-05 08:20] lizi998 commented on #346
Thank you for your reply. Maybe you are right.  I recreated a docker and specified the shared memory size --shm-size=‘8g’ (The default is 64M).  After installing BYTEPS, benchmark_byteps.py works.

[2021-01-05 08:20] #346 closed

[2021-01-05 09:58] Rivendile commented on #300
@pengyanghua Thanks a lot!

[2021-01-05 12:20] Rivendile opened #348 "How to run communication scheduling with BytePS"
Hello, I would like to run communication scheduling with BytePS. What parameters should I set?
Is setting BYTEPS_SERVER_ENABLE_SCHEDULE=1, BYTEPS_SCHEDULING_CREDIT and BYTEPS_PARTITION_BYTES enough?
What's the difference between server schedule and bytescheduler?
Any help would be appreciated. Thanks a lot.

[2021-01-05 12:42] ymjiang commented on #348
The three parameters are enough. `BYTEPS_SERVER_ENABLE_SCHEDULE` is for the server process, but it is enabled by default though. The other two are similar to those used in ByteScheduler.

ByteScheduler does not support scheduling at the server side.

[2021-01-05 13:46] Rivendile commented on #348
Thanks to your timely reply.
Does byteps have scheduling at the worker side by default? Is there any parameter to control this feature?

[2021-01-05 13:49] ymjiang commented on #348
Yes,  `BYTEPS_SCHEDULING_CREDIT` controls the scheduling at the worker side.

[2021-01-06 00:43] Rivendile commented on #348
Thanks a lot. Is the priority used for worker-side scheduling the index of the layers? What is the priority used for server-side scheduling?

[2021-01-06 01:44] ymjiang commented on #348
For both sides, the priority is determined by the tensor index.

[2021-01-06 04:10] wuyujiji opened #349 "the question about byteps's timeline"
Hello, according to https://github.com/bytedance/byteps/blob/master/docs/timeline.md, I get the timeline and find the grad tensor start time is unordered, which seems enable the priority scheduler. However, I check the code and find the default priority scheduler function is disabled.

![image](https://user-images.githubusercontent.com/25579435/103728158-2b403f00-5018-11eb-903a-4854f6f6b8d3.png)

[2021-01-06 04:33] ymjiang commented on #349
The compute engines (e.g., TF/PyTorch) do not guarantee the orders, so they can also lead to the unordered start time of different tensors in BytePS.

[2021-01-06 05:03] wuyujiji commented on #349
I also get the horovod timeline with the same model. For horovod, it looks like the tensor start time is ordered.  According to this  phenomenon, I have two question: 1. the reason of horovod timeline is ordered is that the horovod enable the `NEGOTIATE` mechanism？ 2. How the the `NEGOTIATE` mechanism of Byteps is implemented?

<img width="507" alt="截屏2021-01-06 下午12 56 06" src="https://user-image

[2021-01-06 06:26] Rivendile opened #350 "Error when running on multiple machines"
Hi, when I try to run BytePS mxnet on 4 workers and 4 servers using the code https://github.com/byteps/examples/blob/master/mxnet/vgg-16/train_imagenet.py, everything is fine. However, when I try to run on 8 workers and 8 servers, the process is stuck after printing
`[06:26:10] src/postoffice.cc:25: Creating Van: zmq`
`[06:26:10] src/./zmq_van.h:299: Start ZMQ recv thread`
Any suggestions?

[2021-01-06 07:32] Rivendile commented on #350
Besides, the process does not stop after printing `[07:31:38] byteps/server/server.cc:512: byteps has been shutdown`.

[2021-01-06 11:01] Rivendile commented on #350
The 1st problem has been solved. It is because the wrong setting for 8 workers.

[2021-01-06 12:24] ymjiang commented on #350
Which commit or PYPI version did you use?

[2021-01-06 12:56] ymjiang commented on #349
For intra-machine GPU negotiation, BytePS maintains a ready table to record which tensors are ready (see `byteps/common/ready_table.cc`). The sequence can be diverse on different GPUs so you will find them quite unordered.

I am not quite sure about how Horovod negotiates. Perhaps you can ask the Horovod community about that.

[2021-01-06 12:59] Rivendile commented on #350
I use the master branch and provided dockerfile.

[2021-01-06 13:05] ymjiang commented on #350
I have confirmed that b8948f092796fa177c56a2a1595188dc7cce9999 does not have the problem.

Can you set `PS_VERBOSE=2` for the scheduler process and paste the complete output here?

[2021-01-07 01:01] Rivendile commented on #350
The output of the master branch is as follows:

BytePS launching scheduler
Command: python3 -c 'import byteps.server'

[00:56:31] byteps/server/server.cc:430: BytePS server engine uses 4 threads, consider increasing BYTEPS_SERVER_ENGINE_THREAD for higher performance
[00:56:31] byteps/server/server.cc:438: Enable engine scheduling for BytePS server
[00:56:31] src/postoffice.cc:25: Creating Van: zmq

[2021-01-07 01:36] Rivendile commented on #350
Besides, when I run on a single machine with 8 GPUs, the throughput is 1505.6 img/sec, which is approximately the same with yours in performance.md. However, when I run on multi-machines, such as 16GPUs on 2 machines, I only get 570.24 img/sec in all.
I use the following command to run the code https://github.com/byteps/examples/blob/master/mxnet/vgg-16/train_imagenet.py

export dmlc_num_server=2

[2021-01-07 03:02] ymjiang commented on #350
The scheduler's log looks good to me. Perhaps you can test b8948f0 to verify.

Regarding the performance, you are using a small batch size (32) and running with TCP. Both factors lead to high overhead. If you want to compare with the number in performance.md, at least you need to use batch size 64.

Here are a few tips for tuning the performance -- https://github.com/bytedance/byteps/blob/master/d

[2021-01-07 05:36] Rivendile commented on #350
I will try as you said. Thanks a lot!

[2021-01-07 05:36] #350 closed

[2021-01-07 05:40] wuyujiji commented on #349
Thanks for your detailed explanation! If I want to get pure backward computation time and pure communication time, how can I analysis it from byteps timeline? Or these two times can be obtained by other ways.

[2021-01-07 07:59] Rivendile commented on #348
Hi, @ymjiang ,I tried to set these parameters to control scheduling behavior, which is successful while using MxNet BytePS. However, when I set `byteps_server_enable_schedule=1` and `byteps_scheduling_credit=4`, the timeline looks like this:
![image](https://user-images.githubusercontent.com/17983373/103866768-3f13a000-5101-11eb-8624-8021abd2e747.png)
It seems that there is no scheduling at all. A

[2021-01-07 10:51] ymjiang commented on #349
BytePS cannot capture the backward time. You should use the profilers of TF/PyTorch to get it.

What is your definition of pure communication time? I think you already have it in the timeline you dumped.

[2021-01-07 10:55] ymjiang commented on #348
Actually I am not sure how you get this conclusion..

[2021-01-07 11:08] wuyujiji commented on #349
Okay，I will use the profilers of TF/PyTorch to get backward time.

The pure communication time means the cost time of executing nccl API. For example,  For Horovod `allreduce` op, it is composed of  `wait_for_data`, `wait_for_other_data`, `Queue`, ... and `ncclAllreduce` in horovod timeline.  I want to only get the `ncclAllreduce`time.

[2021-01-07 12:04] SimonZYC opened #351 "[Question] Why rank=0 always ready in pytorch with bytescheduler"
Thanks for your great work on Bytescheduler & BytePS. I have a question on bytescheduler with pytorch.
This [patch](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/pytorch/horovod_pytorch.patch) adds a global state indicating the use of bytescheduler.
From this, when enabling bytescheduler, rank=0 is always "ready". Why is that? What if we do not apply this patch

[2021-01-07 12:04] ymjiang commented on #349
@joapolarbear: Is this supported in BytePS profiler?

[2021-01-07 12:23] joapolarbear commented on #349
@wuyujiji In BytePS, tensor communication can be divided into  the following steps
[code]
Here `REDUCE` and `BROADCAST` correspond to the intra-machine GPU synchronization. Does this meet your requirement ?
BTW, horovod also can not guarantee the tensor order. With the default setting of `HOROVOD_CYCLE_TIME` (5ms) and `HOROVOD_FUSION_THRESHOLD` (64MB), I found that tensors are not always fused in

[2021-01-07 12:44] Rivendile commented on #348
I'm a little confused. Because in MxNet, when I use these parameters, the former layers are selected for communication, and the latter ones that are not sent while the former ones comes will be delayed. But in the figure above, the tensors of features 28, 26, 24, 17 show the similar pattern. They all have pull operations that are done early or late.
On the other hand, don't the credit size and pri

[2021-01-07 12:56] Rivendile commented on #348
I think there are some problems with the for loop in GetTask function in https://github.com/bytedance/byteps/blob/249006c9105d7b4fd09962eb133c3e76de1c8656/byteps/common/scheduled_queue.cc. For example, when a large tensor with high priority is not chosen because of credit limitation, some small tensors with lower priority may be chosen. Thus the priority is not guaranteed. So why does not BytePS u

[2021-01-07 13:10] wuyujiji commented on #349
@joapolarbear Thanks for your explanation. In my opinion, should the pure communication time of byteps be summed between the communication time of intra-machine and inter-machine. The communication time of intra-machine is equal to `REDUCE time + BROADCAST time`, and  the communication time of inter-machine is equal to `PUSH time + PULL time`. Therefore, the total communication time is `REDUCE tim

[2021-01-07 13:25] joapolarbear commented on #349
@wuyujiji Right. For the GPU responsible for synchronizing with  the PS, the communication time is `REDUCE time + BROADCAST time + PUSH time + PULL time`, for the other GPUs, the communication time is `REDUCE time + BROADCAST time`

[2021-01-07 13:40] wuyujiji commented on #349
Okay，thank you for replying so quickly! I have a final question. In byteps timeline, There are a `blank gap` between these four op (`REDUCE`, `PUSH`, `PULL` and `BROADCAST`), should I add these `blank gap time` into the final communication time? In addition, if a large tensor is partitioned into `many slices,` each slice tensor both has the cost time of four ops, and between any two slices has `ov

[2021-01-08 02:29] pengyanghua commented on #351
@SimonZYC Hi, the readiness of rank 0 is already checked in the python layer. Please check the detailed explanation [here](https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/bytescheduler/pytorch/horovod.py#L148).

[2021-01-08 02:42] pengyanghua commented on #300
@Rivendile 1. You may set a larger credit value if the number of workers increases. 2. They are two different libraries. You may check priority scheduling in byteps [here](https://github.com/bytedance/byteps/blob/bytescheduler/byteps/common/scheduled_queue.cc#L26).

[2021-01-08 02:56] Rivendile commented on #300
Thanks for your reply. And I'll try as you suggested.

[2021-01-08 02:56] #300 closed

[2021-01-08 04:00] joapolarbear commented on #349
@wuyujiji If you want pure communication time, then these gaps should not be counted. If you want to get the communication time of the original large tensor, maybe you can disable tensor partition by setting `BYTEPS_PARTITION_BYTES` to a large value.

[2021-01-08 04:02] joapolarbear commented on #349
@wuyujiji FYI. You can refer to https://github.com/bytedance/byteps/blob/master/byteps/common/global.cc to see how `BYTEPS_PARTITION_BYTES` works

[2021-01-08 04:17] wuyujiji commented on #349
@joapolarbear If I disable the tensor partition, iss there a big performance loss for communication? In other words，Is the obtained pure communication time of large tensor between enable tensor partition and disabled tensor partition different a lot?

[2021-01-08 08:38] ysyyork opened #352 "Support for 3090?"
We are evaluating migrating our horovod platform to this. But we want to know if currently 3090 is supported well. Thanks

[2021-01-08 09:04] lizi998 opened #353 "How to deploy BYTEPS with 2 machines?"
**Describe the bug**
Thanks and look forward to your reply.
In my docker, I successfully installed BYTEPS(Source installation, byteps== 0.2.5).  Currently I only have 2 machines. Each machine has 8 V100 GPUs.  **How to deploy BYTEPS with 2 machines?**

**Like Distributed Training (TCP) in A Step-by-Step Tutorial, Is it OK like this?**
1. Create 2 dockers on machine 1. They are docker-scheduler and

[2021-01-08 09:38] ymjiang commented on #352
We have not tested officially, but I am not aware of any fundamental problems that cause BytePS not compatible with 3090.

[2021-01-08 09:38] ymjiang commented on #353
Yes, it looks good to me. Did you meet any problems?

[2021-01-08 09:47] ymjiang commented on #348
We partition the tensors to equal size (despite some very small tensors) to avoid this.

[2021-01-08 22:28] bobzhuyb commented on #352
We never tested personal GPUs because we are mainly focused on production systems in data centers. All I can say is that BytePS can work with Ampere GPU (like NVIDIA A100).

[2021-01-09 02:15] Rivendile commented on #348
Thanks to your explanation! Could you please tell me what else makes the priority unguaranteed?

[2021-01-11 07:34] Rivendile opened #355 "Segmentation Fault when running bytescheduler mxnet horovod"
Hi, when I try to run ByteScheduler using MxNet Horovod, segmentation fault occurs.
I use the dockerfile: https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/docker/pytorch_horovod.Dockerfile and command:
[code]
But get the following errors:
[code]

When I set USE_BYTESCHEDULER=0, the error disappears. Besides, when I run on multi-GPUs, the error still exists.
Any help would be ap

[2021-01-11 07:37] lizi998 commented on #353
**In this way, server, worker0 and worker1 can create thread and waiting. Like this:**
**server:**
BytePS launching server
Command: python -c 'import byteps.server'
[06:47:33] byteps/server/server.cc:430: BytePS server engine uses 4 threads, consider increasing BYTEPS_SERVER_ENGINE_THREAD for higher performance
[06:47:33] src/postoffice.cc:25: Creating Van: zmq
[06:47:33] src/./zmq_van.h:299: Star

[2021-01-11 07:50] ymjiang commented on #353
Could you check if there is any unkilled process before you launch the task?

[2021-01-11 08:12] lizi998 commented on #353
There should be no unkilled process before launch the task.  Or could you tell me how to check and confirm?

I suddenly found out that you are the author of the article. Thank you very much for your reply. My WeChat ID is chestnut_man. Looking forward to be friends with you.

[2021-01-11 09:09] lizi998 commented on #353
Yes. You are right.  I killed a process by command [lsof -i:port ]->[kill -9 PID].  Scheduler can create thread and waiting.  But scheduler, server, worker0 and worker1 are all waiting.
**server:**
BytePS launching server
Command: python -c 'import byteps.server'
[06:47:33] byteps/server/server.cc:430: BytePS server engine uses 4 threads, consider increasing BYTEPS_SERVER_ENGINE_THREAD for higher

[2021-01-11 10:38] ymjiang commented on #353
Could you check the network connectivity, i.e., is `10.0.0.1` a reachable address for the other machine?

[2021-01-11 13:25] pengyanghua commented on #355
@Rivendile You may try this Dockerfile: https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/docker/mxnet_horovod.Dockerfile.

[2021-01-11 14:05] Rivendile commented on #355
I'm sorry for pasting the wrong link. In fact, I used the Dockerfile you said.

[2021-01-11 15:29] pengyanghua commented on #355
@Rivendile So you built the container image exactly according to the Dockerfile and run the training in container? Did you modify the Dockerfile, e.g., gcc version?

[2021-01-11 15:32] Rivendile commented on #355
I add some commands to support ssh and leave other commands unchanged. The commands for ssh do not cause any error in other settings, e.g. MxNet PS.

[2021-01-12 03:21] Rivendile commented on #355
@pengyanghua Hi, I tried exactly the same Dockerfile and got the same errors.

[2021-01-12 04:58] pengyanghua commented on #355
@Rivendile Could you uninstall the existing MXNet in the container and try build and install MXNet https://github.com/bytedance/byteps/blob/bytescheduler/bytescheduler/docker/mxnet_horovod.Dockerfile#L44 from source?

[2021-01-12 08:03] ruipeterpan opened #356 "[Question] Does replacing torch.distributed.all_reduce with BytePS impact the training curve?"
# Describe the bug
I'm trying to do a cross-comparison of the performance between PS in PyTorch and torch.distributed.all_reduce. The throughput is matching up as expected, but I noticed that the training loss curve for bps isn't even close to that for all_reduce. Is this expected?

# Expected behavior
The expected behavior is for the training loss curves for bps and all_reduce to match up. At lea

[2021-01-12 08:47] ymjiang commented on #356
@pleasantrabbit  Can you please take a look? This seems related to [byteps.torch.parallel](https://gist.github.com/ruipeterpan/70ac2dc7c72edcb2995130c5b83fb96a#file-bps_issue-py-L135).

[2021-01-12 20:25] ruipeterpan commented on #356
Hey, so I looked a bit into this and realized that some changes were made to `byteps/byteps/torch/ops.cc` for averaging in bps.push_pull (push_pull_async) after I forked the repo, so I updated my byteps fork and also updated the byteps training curve. The training curve still looks weird, though...

[2021-01-12 21:23] pleasantrabbit commented on #356
@ymjiang @ruipeterpan I am looking into it.

[2021-01-13 00:48] pleasantrabbit commented on #356
@ruipeterpan

Just wanted to make sure, you used 4 containers in total, only 1 container was started on each node, and each container has 1 GPU, right?

I ran your script with slight modifications ([here](https://gist.github.com/pleasantrabbit/f4522669c98e8a806744e6130ca09397/0b6c57f46952ce53d7a07c415530f392c7d689a8)), here's the loss I got. The loss from byteps is fairly close to  pytorch ddp. It

[2021-01-13 01:28] Rivendile commented on #355
Hi, I solved this problem by updating horovod and reinstalling the mxnet. Thanks a lot!

[2021-01-13 01:28] #355 closed

[2021-01-13 02:27] ruipeterpan commented on #356
Ah, sorry for the wording -- yes, 4 worker containers (one on each node) are started and each container is exposed to 1 GPU only.

So the key reason behind this issue is the removal of `broadcast_parameters()`, i.e. not synchronizing the model parameters & optimizer state before training begins. This is really interesting -- any idea why we [needed them in the first place](https://github.com/byted

[2021-01-13 06:38] pleasantrabbit commented on #356
@ruipeterpan ah that's where you got them. In the DDP API there's no need to manually broadcast model parameters, the forward() step already does the broadcast.  This behavior is the same as PyTorch DDP.

[2021-01-13 23:15] ruipeterpan commented on #356
I see, thanks for the explanation! Closing this issue.

[2021-01-15 04:01] wuyujiji commented on #349
@joapolarbear excuse me!  when large tensor is partitioned into many slices, why does some sliced tensor `push time` take so long, and some `push time` is so short?  For example，the timeline shows the push time of the first  sliced tensor is `11.007 ms`, and the push time of the fourth sliced tensor is `0.093 ms`.
![image](https://user-images.githubusercontent.com/25579435/104679786-697ce300-5729-

[2021-01-15 06:34] joapolarbear commented on #349
@wuyujiji Actually current profiling method can only capture correct PUSH start timestamps and PULL end timestamps. That's why current gaps between PUSHs and PULLs are very small. Actually, we are digging into ps-list/ZMQ to get correct PUSH end timestamps and PULL start timestamps.

[2021-01-15 06:50] wuyujiji commented on #349
@joapolarbear Thanks for your explanation. Now is there any way to get the correct `push time-consuming`?

[2021-01-16 05:53] #351 closed

[2021-01-16 05:54] #286 closed

[2021-01-16 05:54] #347 closed

[2021-01-16 05:54] #249 closed

[2021-01-16 23:05] ruipeterpan commented on #356
Hey @pleasantrabbit sorry if this is nitpicking, but here's a weird thing: I was not able to replicate the result when I used the exact same setup from four days ago. Previously, the difference of training loss in each epoch between PyTorch DDP and bps DDP is ~0.01, but now it's around ~0.03. This is not that big of an issue, but if you want to take a look, can you confirm that the difference betw

[2021-01-18 01:52] wuyujiji commented on #349
cc @joapolarbear

[2021-01-18 02:32] #356 closed

[2021-01-18 03:35] ruipeterpan opened #357 "Turning on async (BYTEPS_ENABLE_ASYNC) crashes the bps server"
# Describe the bug
Turning on asynchronous training (`export BYTEPS_ENABLE_ASYNC=1`) crashes the bps server (during [SendPullResponse](https://github.com/bytedance/byteps/blob/46944e803f407ba1966b2a6ad7dc4a91558af675/byteps/server/server.cc#L52) in byteps/server/server.cc)

# Expected behavior
The expected behavior is for the training to go error-free, just like in synchronous training

# Stack tr

[2021-01-18 03:46] ymjiang commented on #357
For now, the asynchronous mode for PyTorch is supported only when you use the DistributedOptimizer approach, like this [example](https://github.com/bytedance/byteps/blob/master/example/pytorch/benchmark_byteps.py). Your code now uses the DDP wrapper, for which we haven't implemented the async-mode yet.

[2021-01-18 06:32] ruipeterpan commented on #357
Hey @ymjiang thanks for the info! Nevertheless, after switching to using benchmark_byteps.py, the issue is still there.

FYI:
* Here's the updated [Dockerfile](https://gist.github.com/ruipeterpan/f64ea87e5974b15a3b07bc93e50b0719), the only difference with the official one being the cudnn version (8.0.5.39-1+cuda11.0) and nccl version (2.7.8-1+cuda11.0)
* I used `bpslaunch python3 /usr/local/byteps